<p style="font-size: 12pt; color: #daa520; font-family: 'Monotype Corsiva'">
    <strong>Расы Disciples 2.</strong>
</p>

<%= race_btns(:d2_units, active: :empire) %>

<br>
<br>
<br>

<h1 style="font-size: 14pt; color: #0000cd; font-family: 'Monotype Corsiva'; text-align: center;">
    Империя
</h1>


<div align="center" style="font-size: 8pt; font-family: Verdana">
    <img alt="" src="/Disciples2/Rasi/LordImp3Ram2.jpg" align="right" border="0">
    <p>
        Основу армии Империи составляют юниты ближнего боя. Это наиболее
        многочисленная ветвь её армии. Развитие Скваера может привести к 4
        различным видам войск: Ангел, Защитник веры, Святой Мститель и Великий
        инквизитор. Выбор того или иного пути развития зависит от обстановки на
        карте и противостоящего вам противника. Так при игре против Орд нежити и
        Легионов проклятых наилучшим вариантом будет Велики Инквизитор, из-за
        наличия варда на огонь и иммунитета на разум. Ангел будет полезен на
        средних и малых картах. Однако, ввиду своего большого урона и малого
        количества опыта для апа не затеряется и на больших и очень больших
        картах. Защитник веры является самым быстрым воином ближнего боя в игре.
        При этом он обладает отличной защитой и уроном. Святой Мститель будет
        полезен при длительных играх. Его способность ходить дважды поможет для
        уничтожения Боссов.
    </p>
    <br>
    <p>
        Хотя основу армии империи составляют юниты ближнего боя, сила Империи в
        Целителях. Они позволяют империи уничтожать нейтральные войска
        фактически без потерь, экономя столь необходимые ресурсы и время.
    </p>
    <br>
    <p>
        Маги у империи слабые. Белый маг по сравнению со своими аналогами у
        других рас, является чуть ли не слабейшим. Повелитель стихий в
        определенных случаях бывает полезным. Но эти случаи не так часты.
    </p>
    <br>
    <p>
        Империя также располагает хорошими лучниками. Ассасин на любой стадии
        игры будет грозой вражеских магов.
    </p>
</div>

<br>
<br>
<br>

<div align="center" style="font-size: 12pt; font-family: 'Monotype Corsiva'; font-weight: bold;">
    <a href="/index/0-8">Лидеры</a><br>
    <a href="/index/0-9">Воины ближнего боя</a><br>
    <a href="/index/0-10">Воины дистанционного боя</a><br>
    <a href="/index/0-11">Маги</a><br>
    <a href="/index/0-12">Воины поддержки</a><br>
</div>
