<% @params[:main_page] = true %>
<% @params[:race_class] = 'empire' %>
<% @params[:race_name] = 'Империя' %>

<% layout 'pages/index/layouts/d2_race_page.html.erb' do %>
    <div class="race-desc">
        <img alt="" src="/Disciples2/Rasi/LordImp3Ram2.jpg" align="right">
        <p>
            Основу армии Империи составляют юниты ближнего боя. Это наиболее
            многочисленная ветвь её армии. Развитие Скваера может привести к 4
            различным видам войск: Ангел, Защитник веры, Святой Мститель и Великий
            инквизитор. Выбор того или иного пути развития зависит от обстановки на
            карте и противостоящего вам противника. Так при игре против Орд нежити и
            Легионов проклятых наилучшим вариантом будет Велики Инквизитор, из-за
            наличия варда на огонь и иммунитета на разум. Ангел будет полезен на
            средних и малых картах. Однако, ввиду своего большого урона и малого
            количества опыта для апа не затеряется и на больших и очень больших
            картах. Защитник веры является самым быстрым воином ближнего боя в игре.
            При этом он обладает отличной защитой и уроном. Святой Мститель будет
            полезен при длительных играх. Его способность ходить дважды поможет для
            уничтожения Боссов.
        </p>
        <p>
            Хотя основу армии империи составляют юниты ближнего боя, сила Империи в
            Целителях. Они позволяют империи уничтожать нейтральные войска
            фактически без потерь, экономя столь необходимые ресурсы и время.
        </p>
        <p>
            Маги у империи слабые. Белый маг по сравнению со своими аналогами у
            других рас, является чуть ли не слабейшим. Повелитель стихий в
            определенных случаях бывает полезным. Но эти случаи не так часты.
        </p>
        <p>
            Империя также располагает хорошими лучниками. Ассасин на любой стадии
            игры будет грозой вражеских магов.
        </p>
    </div>
    <%= unit_links(
                leaders: 8,
                warriors: 9,
                archers: 10,
                wizards: 11,
                support: 12
        ) %>
<% end %>
