<p style="font-size: 12pt; color: #daa520; font-family: 'Monotype Corsiva'">
    <strong>Расы Disciples 2.</strong>
</p>

<%= race_btns(:d2_units, active: :legions) %>

<br>
<br>
<br>

<h1 style="font-size: 14pt; color: #800000; font-family: 'Monotype Corsiva'; text-align: center;">
    Легионы проклятых
</h1>


<div align="center" style="font-size: 8pt; font-family: Verdana">
    <img alt="" src="/Disciples2/Rasi/LordLegion1Ram.jpg" align="left" border="0">
    <p>
        Каждый из героев Легионов Проклятых обладает способностью полета.
        Это позволяет легко и быстро пересекать реки и проходить леса.
        Что касается качества самих войск, то тут тоже придраться не к чему.
        У созданий Легионов достаточно большое количество жизней, да и наносят
        они приличный урон. С инициативой у них тоже все в порядке. Единственная
        очевидная проблема — нет обычных лучников, а есть только гаргулья,
        занимающая две клетки. Для лучника это многовато. Правда, у гаргульи
        очень крепкая броня, это позволяет ей почти не получать серьезного урона,
        да и атакует она больно. Вообще, особенность расы Проклятых — большое
        количество крупных существ, в том числе воинов в виде различного рода
        демонов.
    </p>
    <br>
    <p>
        Кроме того легионы обладают довольно внушительным деревом магов.
        Вы можете брать в армию магов или помощников. Поселедний апгрейд магов
        Легионов - Модеус, довольно мощное создание. Но все же более полезны
        создания поддержки у Легионов( Doppelganger, Incubus, Hag).
        Если поразмыслить, то иммунитет к Земле имеют меньшее количество существ,
        чем к Разуму, поэтому Incubus предпочтительнее Hag, да и атакует первый
        более метко. Правда, во многих ситуациях Doppelganger будет
        полезнее обоих. Особенно для малых карт. Doppelganger может превращаться
        почти в любое существо, присутствующее на поле боя. Исключение составляют
        крупные создания, занимающие две клетки.
    </p>
    <br>
    <p>
        Еще одно существо у Проклятых, Infernal Knight, отличается
        особым умением — за день самостоятельно восстанавливать около половины
        утраченных жизней.
    </p>
</div>

<br>
<br>
<br>

<div align="center" style="font-size: 12pt; font-family: 'Monotype Corsiva'; font-weight: bold;">
    <a href="/index/0-13">Лидеры</a><br>
    <a href="/index/0-14">Воины ближнего боя</a><br>
    <a href="/index/0-15">Воины дистанционного боя</a><br>
    <a href="/index/0-16">Маги</a><br>
    <a href="/index/0-17">Воины поддержки</a><br>
</div>
