<% @params[:main_page] = true %>
<% @params[:race_class] = 'legions' %>
<% @params[:race_name] = 'Легионы проклятых' %>

<% layout 'pages/index/layouts/d2_race_page.html.erb' do %>
    <div class="race-desc">
        <img alt="" src="/Disciples2/Rasi/LordLegion1Ram.jpg" align="left">
        <p>
            Каждый из героев Легионов Проклятых обладает способностью полета.
            Это позволяет легко и быстро пересекать реки и проходить леса.
            Что касается качества самих войск, то тут тоже придраться не к чему.
            У созданий Легионов достаточно большое количество жизней, да и наносят
            они приличный урон. С инициативой у них тоже все в порядке. Единственная
            очевидная проблема — нет обычных лучников, а есть только гаргулья,
            занимающая две клетки. Для лучника это многовато. Правда, у гаргульи
            очень крепкая броня, это позволяет ей почти не получать серьезного урона,
            да и атакует она больно. Вообще, особенность расы Проклятых — большое
            количество крупных существ, в том числе воинов в виде различного рода
            демонов.
        </p>
        <p>
            Кроме того легионы обладают довольно внушительным деревом магов.
            Вы можете брать в армию магов или помощников. Поселедний апгрейд магов
            Легионов - Модеус, довольно мощное создание. Но все же более полезны
            создания поддержки у Легионов( Doppelganger, Incubus, Hag).
            Если поразмыслить, то иммунитет к Земле имеют меньшее количество существ,
            чем к Разуму, поэтому Incubus предпочтительнее Hag, да и атакует первый
            более метко. Правда, во многих ситуациях Doppelganger будет
            полезнее обоих. Особенно для малых карт. Doppelganger может превращаться
            почти в любое существо, присутствующее на поле боя. Исключение составляют
            крупные создания, занимающие две клетки.
        </p>
        <p>
            Еще одно существо у Проклятых, Infernal Knight, отличается
            особым умением — за день самостоятельно восстанавливать около половины
            утраченных жизней.
        </p>
    </div>
    <%= unit_links(
                leaders: 13,
                warriors: 14,
                archers: 15,
                wizards: 16,
                support: 17
        ) %>
<% end %>
