<% @params[:main_page] = true %>
<% @params[:race_class] = 'clans' %>
<% @params[:race_name] = 'Горные кланы' %>

<% layout 'pages/index/layouts/d2_race_page.html.erb' do %>
    <div class="race-desc">
        <img alt="" src="/Disciples2/Rasi/LordGnom1Ram2.jpg" align="right">
        <p>
            Закаленные в условиях крайнего холода могучие Горные Кланы могут
            похвастаться самыми живучими воинами, лучниками и даже магами.
            Убить гномьего колдуна порой бывает тяжелей, чем солдата другой расы.
            Что же тут говорить о коренастых и бородатых воителях?! К сожалению,
            медлительность гномов, как на поле боя, так и на стратегической карте,
            также осталась при них. Если на глобальной карте можно с помощью
            колдовства увеличить скорость передвижения армий (благо магия гномов
            это позволяет с избытком), то во время боя именно у них будет
            наихудшая инициатива. Однако мудрый игрок сразу смекнет, что
            осутствие быстрой инициативы у гномов несмертельна. Наличие большого
            количество заклинаний на защиту, а также заклинание на инициативу
            призваны решить эту проблему. Кроме того количество жизней, наносимый
            урон и юниты магической ветки позволят гномам наравных конкурировать
            с быстрым соперником. Магическая ветка представлена двумя направлениями:
            Архидруид и Алхимик. Архидруид увеличивает урон юнита на 100% на всю битву,
            Алхимик же дает повторный удар в течении того же раунда. Оба полезны,
            каждый для своей ситуации.
        </p>
        <p>
            Следует отметить двух юнитов, которые являются самым грозным оружием
            у гномов, а может и во всей игре. Это Отшельник и Сын Имира.
            Первый - маг с большим количеством жизней, имеет средний урон и
            дополнительную атаку, снижающую инициативу соперника (очень полезное
            умение). Вкупе с архидруидами образует самый неубиваемый отряд в игре.
            Второй - двуклеточный юнит обладающий большим уроном и инициативой 50
            (плюс - дополнительная атака водой). Опять же, прибовляем сюда юнитов
            магической ветки и враги повержены.
        </p>
    </div>
    <%= unit_links(
                leaders: 18,
                warriors: 19,
                archers: 20,
                wizards: 21,
                support: 22
        ) %>
<% end %>
