<% @params[:main_page] = true %>
<% @params[:race_class] = 'undead' %>
<% @params[:race_name] = 'Орды Нежити' %>

<% layout 'pages/index/layouts/d2_race_page.html.erb' do %>
    <div class="race-desc">
        <img alt="" src="/Disciples2/Rasi/LordUnded1Ram.jpg" align="left">
        <p>
            В начале времён богиня смерти Мортис, имя которой сейчас заставляет
            трепетать от ужаса даже самые храбрые сердца, была богиней жизни Солониэль.
            Она правила древнейшей расой вместе со своим супругом Галлеаном, и
            преданность их друг другу была велика. Однако Вотан, бог Горных Кланов,
            страстно мечтал заполучить земли Галлеана и Солониэль. Зная, что
            только разорвав связь между Галлеаном и Солониэль удастся ему получить
            власть над этими землями, Вотан превратился в волка и вырвал из груди
            Галлеана его бьющееся сердце. С божественной силой он забросил живое
            сердце бога на солнце, чтобы тот не возродился уже никогда, но
            обезумевшая от горя Солониэль отправилась за своим возлюбленным и
            сгорела в ослепительном пламени. Так навеки умерла богиня жизни Солониэль
            и обрела рождение бесплотная богиня смерти Мортис.
        </p>
        <p>
            В засушливых землях к югу некогда обитал не знающий горя народ чародеев,
            Алкмаар. Одним движением своей костлявой руки наслала Мортис чуму на
            этих ничего не подозревающих людей. В считанные дни тысячи умерли в
            мучениях; вскоре и другие города постигла та же участь. Когда-то Мортис
            радовалась, создавая новую жизнь, теперь же не было конца придуманным
            ею способам навлечь страдания и смерть на своих же детей. Богиня жизни
            отыскала новое предназначение…
        </p>
        <p>
            Отравленная ненавистью и страданием, Мортис взялась за создание
            омерзительной армии. Многие солдаты безжизненного воинства бледной
            богини пали от её же руки. Лишённые покоя даже в смерти, они шли вперёд,
            выполняя мстительные капризы своей тёмной хозяйки. Её нетвёрдо стоящие
            на гниющих ногах солдаты косили воинов Горных Кланов одного за другим,
            и Вотан отпрянул в ужасе…
        </p>
        <p>
            Когда Верховный Король Стурмир Громовой Молот пал замертво на поле битвы,
            Мортис поняла, что отомстила за себя и за своего возлюбленного. Она
            позволила упокоиться воинству скелетов, сослуживших ей такую хорошую
            службу, и на долгие годы отвернулась от мира. Любовь к Галлеану всё
            ещё горела в тёмном сердце Мортис. В своём одиночестве она терпеливо
            ждала возвращения того, кто когда-то любил её.
        </p>
        <p>
            Целую вечность бесплотная богиня блуждала в тёмных коридорах безумия.
            Где был Галеан? Она выкрикивала его имя, но лишь эхо отвечало ей.
            Постепенно Мортис совладала с собой и сумела преодолеть накатившее
            на неё сумасшествие. Если Галлеан не пришёл к ней, это означало,
            что он не может прийти.
        </p>
        <p>
            Чтобы оживить Галлеана, нужна была божественная кровь. И когда духи
            открыли ей существование святого отрока, Мортис поклялась, что она
            воссоединится со своим возлюбленным, даже если для этого ей придётся
            утопить в крови весь мир…
        </p>
        <hr>
        <img alt="" src="/Disciples2/Rasi/UndCitLef.JPG" align="left">
        <img alt="" src="/Disciples2/Rasi/UndCitRig.JPG" align="right">
        <%= unit_links(
                    leaders: 23,
                    warriors: 24,
                    archers: 25,
                    wizards: 26,
                    support: 27
            ) %>
        <hr>
        <img alt="" src="/Disciples2/Rasi/LordUnded2Ram.JPG" align="right">
        <p>
            Нежить - пожалуй, самая оригинальная раса в игре, в этом её сила и в
            этом же её слабость. Её бойцы отличаются более чем крепким здоровьем,
            да и урон наносят более чем солидный. Однако главное достинство
            бойцов нежити даже не в этом, а в широчайшем арсенале специальных атак,
            которые есть практически у каждого её воина. Более всего нежить
            известна особой ненавистью к защитникам столиц - она может уничтожать
            столицы, даже не достигая максимальных апгрейдов, хотя это работает
            скорее против компьютера. Основные проблемы она имеет в дебюте -
            из-за отсутствия стрелков и неудобства раскачки духов, так что на
            малых картах она не сильна.
        </p>
        <p>
            Рассмотрим для начала магию Орд. В волшебной книге практически
            отсутствуют баффы, зато наличествует самый широкий арсенал дебаффов
            и мощных заклинаний прямого урона - немёртвые предпочитают не
            усиливать свои отряды, а превращать вражеские в суповой набор, после
            чего противника можно будет брать голыми руками. Нежити вообще не
            обязательно лично нападать на противника - при наличии должного
            количества маны лорд-маг может спокойно убивать врагов исключительно
            мощнейшей магией и вызовами. Очень полезны такие сильные вызовы, как
            Кошмар или Танатос. Особенно стоит отметить единственный бафф - на
            защиту от оружия. Пусть он и доступен только лордам-магам, но его
            уникальность и сила искупают всё. При помощи этого заклинания армию
            можно сделать иммунной к атакам оружием на первый ход - а оружием
            бьют почти все юниты в игре. В конце хода противников парализуют
            призраки, и их можно будет добивать без потерь. Из дебаффов
            выделяется Ржавчина - заклинание первого уровня, которое стоит всего
            100 маны смерти, но снимает со всех существ вражеского отряда 50
            единиц брони. Это супероружие против демонов с их горгульями и
            империи с её паладинами - правда, против нежити они редко выходят.
        </p>
        <p>
            Нежить достаточно мобильна за счёт наличия умения "Полёт",
            аналогичного умению демонов, у лидера-воина - Рыцаря Смерти.
            Это при том, что герой-стрелок - Носферату - хоть и не летает, но
            очень далеко бегает. Про Носферату нужно сказать отдельно, так как
            это едва ли не самый противоречиый герой игры. Одни его считают чуть
            ли не богом, а другие - хилым заморышем. Правы и те и другие.
            На низких уровнях Носферату пьёт мало жизни, дохловат и бьёт
            рекордно слабо, поэтому для использования на маленьких картах он не
            рекоммендуется. Однако, на последних уровнях он резко превращается
            в героя первой линии, неправдоподобно живучего и грозного - он бьёт
            смертью, от которой ни у кого нет защиты, наносит большие повреждения
            и за их счёт лечится. Поэтому данный герой - оптимальный выбор для саг.
        </p>
        <img alt="" src="/Disciples2/Rasi/LordUnded3Ram.JPG" align="left">
        <p>
            Как уже упоминалось, юниты нежити уникальны настолько, насколько это
            возможно, в этом плане с ней соперничают только демоны. Главная
            особенность нежити - отсутствие стрелков в привычном понимании этого
            слова. Их у неё заменяют призраки-парализаторы с низкой инициативой
            (ходят самыми последними). С одной стороны это большая слабость расы,
            так как она лишена возможности быстро истреблять вражеских магов на
            ранних уровнях, да и потом появление этой возможности зависит от
            выбранного пути развития. А с другой - главная её сила, поскольку
            кроме немёртвых парализаторами обладают только демоны, причём далеко
            не на первом уровне и развитие в них отрубает остальные ветви развития
            магов. У нежити же такое добро есть с самого начала. Призраки позволяют
            очень быстро прокачиваться на первых уровнях, убивая волков, кракенов
            и прочих сильных одиноких существ, да и потом вполне оправдывают своё
            место в отряде, очень сильно скоращая потери. В финальной стадии игры
            они помогают рушить замки, парализуя защитника.
        </p>
        <p>
            С магами всё почти как у демонов - разнообразие поуже, но выбор огромен
            и приятен, пожалуй, маги у нежити лучшие в игре. Какую ветвь не возьми -
            везде ждёт уникальное и очень полезное существо. Архилич - самый мощный
            по урону маг среди всех существ. Он полезен против рас, не отягощённых
            крепким здоровьем, таких, как люди - лучники эльфов будут легко его
            уничтожать, зато человеческие асассины против него малополезны, а
            целителей он сносит очень быстро. Вампир, как и Носферату, лечится
            от нанесённых повереждений, а Верховный Вампир, если у него полное
            здоровье, ещё и подлечивает остальных солдат. Кроме того, вампиры -
            самые "толстые" маги в игре, у Верховного Вампира порядка 220 ХП,
            тогда как у ближайшего конкурента - Модеуса - всего 170. Вампиры
            полезны как раз против эльфов за счёт своей способности лечиться.
            Против демонов они также достаточно мощны, поскольку лечат воинов
            после атак сильных легионских магов. Как вампиры, так и личи хороши
            для больших карт, поскольку требуют немало опыта для развития.
        </p>
        <p>
            Особняком от любых других юнитов игры стоит ветка духов. Эти маги бьют
            только по одному юниту, за счёт чего их ценность резко падает. Их
            достоинство в другом - они обладают никому больше недоступным
            иммунитетом к оружию, которым бьёт большая часть юнитов игры! За счёт
            этого они плавно перерастают в юнитов блжнего боя. Плюс к тому,
            благодаря своему умению наносить точечные, но сильные удары по любому
            юниту, они заменяют нежити отсутствующих стрелков. Развить духа можно
            в смерть или сущего. Смерть - развитие идеи лучника-снайпера, благодаря
            сильной атаке и яду она напоминает асассина Империи, однако же она
            несравнимо сильнее за счёт иммунитета к оружию и большему урону. Её
            стоит применять против эльфов как убийцу стрелков и целителей,
            применения против демонов, гномов и людей тоже возможны, в этих вариантах
            она убивает магов, друидов и целителей соответственно. Смерть также
            настоящий кошмар защитников столиц благодаря ядовитой атаке, которая
            сильно бьёт сковзь броню. Сущий - один из наиболее оригинальных юнитов
            игры, он откровенно не вышел параметрами, но его атака - понижение
            уровня - порой шокирующе эффективна. При своевременном применении она
            может лишать противника ключевых козырей, понижая уровни его солдат и
            таким образом лишая их спецатак и огромной доли параметров. Сущего,
            однако, стоит немедленно <%# TODO: ЧТО? %> сразу после получения и
            только на противника-игровую расу, пока он ещё не прокачал своих солдат
            сверх последнего апгрейда - тогда сущий возымеет наибольшую эффективность,
            понижая уровни врагов почти до нуля. Он универсален, подходит против
            любой расы, однако применять его нужно правильно - атаковать тех, кто
            действительно много потеряет с уровнем. Как смерть, так и сущий,
            подходят для маленьких и средних карт, но сущий предпочтительнее на
            картах малого размера. Ещё один недостаток духов - их крайне тяжело
            качать, так как в начале они стоят в заднем ряду, а потом в переднем.
            Однако, после появлений первого же духа, можно быстро получить второго,
            а первого отдать новому отряду, который куда проще будет качать.
            Таким образом, можно собрать целую ораву отрядов с неуязвимыми духами
            и задавить противников сочетанием количества и качества.
        </p>
        <img alt="" src="/Disciples2/Rasi/LordUnded4Ram.JPG" align="right">
        <p>
            С воинами всё куда проще, у них есть две ветви, выбор между которыми
            делается в самом начале. Тамплиеры имеют меньше уровней, за счёт
            чего лучше подходят для карт малого масштаба, да и прокачиваются они
            куда быстрее. Их сила - в защите от элементальных атак, она
            определяет их применение - против гномов и демонов, которые такими
            атаками как раз и славятся. Также тамплиеры хороши против лорда-мага,
            они нивелируют эффекты большинства заклинаний. Скелеты куда сильнее,
            но лишены изюминки. Воин-фантом обладает самой сильной атакой среди
            воинов игры и самым большим среди них здоровьем, что делает его
            необычайно ценным приобретением. Кроме того, он имеет шанс
            парализовать противника атакой на несколько ходов, что существенно
            сокращает потери и делает его отличным выбором против гномов и демонов,
            которые обладают рядом очень сильных бойцов с низкой инициативой.
            Также воин-фантом - убийца защитников столиц, его парализующая атака
            особенно ценна против них, в частности при страховке призраков.
        </p>
        <p>
            Уникальны у нежити и войска поддержки, хотя и не настолько. Они
            представляют собой драконов-нежить - этаких двухклеточных магов с
            большим запасом здоровья. Они отлично заменяют магов в армии,
            которая развилась в духов, более того, они слабоуничтожимы благодаря
            могучему здоровью. Драконы капитально вредят врагу, но своего места
            стоят всё же не всегда. У них есть два варианта развития - в драколича,
            который доводит до апогея идею толстого и сильного мага, и в червя,
            который бьёт ядом. Драколич исполняет совмещённую роль танка и убийцы,
            грубой силой отлично компенсируя физическую слабость армий,
            построенных на спецсвойствах. Червь же полезен на картах с большим
            количеством городов, поскольку его яд бьёт сквозь броню.
            Теоретически его можно применять при взятии столиц, но эти две клетки
            куда полезнее занять фантомом и смертью.
        </p>
        <p>
            Так же у Орд Нежити имеются в наличии оборотни, которых можно нанять
            за кругленькую сумму после постройки соответсвующего здания в столице.
            На первый взгляд юнит очень дорогой для своих статов, но денег своих
            он стоит, ибо имеет абсолютный иммунитет к оружию, благодаря чему
            его можно использовать для быстрой раскачки отрядов или для защиты
            городов, если есть деньги, конечно же. Впрочем, он достаточно редко
            себя окупает, годится он обычно для защиты стратегически важных городов.
        </p>
    </div>
<% end %>
