<% @params[:main_page] = true %>
<% @params[:race_class] = 'elves' %>
<% @params[:race_name] = 'Эльфийский союз' %>

<% layout 'pages/index/layouts/d2_race_page.html.erb' do %>
    <div class="race-desc">
        <img alt="" src="/Disciples2/Rasi/LordElf1Ram2.jpg" align="right">
        <p>
            Эльфы - первая раса Невендаара - возвышенный, мудрый, но в то же
            время дикий народ. После того, как Вотан поверг их бога, Галлеана,
            они были обречены на тяжкие испытания. Но эльфы не теряли надежды на
            воскрешение Галлеана. И их желание исполнилось, но не так, как они
            ожидали. Воскрешённый Мортис, бывшей богиней Жизни и своей супругой,
            Галлеан не смог принять ту, кем она стала - бесплотную повелительницу
            Орд Нежити. Былая любовь обратилась ненавистью, а ненависть - печалью.
            Пережив трагедию, он, казалось, разделился на две части: доброго бога
            природы, которым он был, и дикого, негостеприимного зверя.
        </p>
        <p>
            Подобно своему противоречивому богу, общество эльфов разделено на
            Благородных и Диких. Первые мудры, спокойны и миролюбивы. Вторые же
            необузданны, дики и следуют собственным инстинктам. Всё их нынешнее
            существование - это борьба и попытка объединить противоположности.
            В настоящее время Эльфами правит королева Иллюмиэль, опираясь на
            совет архонтов.
        </p>
        <p>
            Благородные эльфы, более добрая, "цивилизованная", умеющая прощать
            часть эльфийского общества тянется к людям. Они возводят прекрасные
            города, изучают тактики ведения боя, развивают искусство и дипломатию.
        </p>
        <p>
            Дикие эльфы, защищающие свою уникальность и бытность культуры,
            не прощающие обиды и раны, нанесённые другими расами своему народу,
            устремились вглубь лесов - свой истинный дом.
        </p>
        <p style="text-align: center">
            <i>«Мы возвращаемся к своим корням! Мы дикое племя – силы природы,
                вечная угроза миру цивилизаций»</i>
            <br>
            Тора'ак
        </p>
        <p>
            Обычай гостеприимства у них весьма специфичен. Скорее всего, любого
            эльфа дикий эльф примет с радостью и радушием, но на представителей
            других рас это зачастую не распространяется. Так дикие эльфы по
            традиции умерщвляют нежданных гостей.
            <br>
            На стороне диких эльфов также выступает разумный народ кентавров –
            жителей леса и прирученные эльфами грифоны.
        </p>
        <p>
            После возрождения Галлеана Эльфийский Альянс вернул ранее утраченные
            территории, пролив много своей и чужой крови, сформировав одно из
            самых крупных государств Невендаара, наравне с Империей и землями
            Горных Кланов. Однако эта война, названная впоследствии Восстанием
            Эльфов, объединив земли эльфов, ещё сильнее разделила их общество.
        </p>
        <p>
            Считаясь мудрейшей расой Невендаара, из-за дарованной природой
            возможности жить десятки столетий, эльфы привыкли не тратить энергию
            жизни понапрасну. Расчетливый глаз, светлый ум, ясный слух позволяют
            им не терять контроль над ситуацией ни на минуту.
        </p>
        <p>
            Настроением эльфов властвует осень, одновременно яркая и печальная.
            Но в глубине души они очень хотят увидеть весну, такую далёкую и желанную.
        </p>
        <p style="text-align: center">
            За священный лес, за Галлеана…
        </p>
    </div>
    <%= unit_links(
                leaders: 18,
                warriors: 19,
                archers: 20,
                wizards: 21,
                support: 22
        ) %>
<% end %>
