<div class="mc_post">
    <div class="avatar">
        <?if($USERNAME$)?>
            <a href="/index/8-$USER_ID$" title="$USERNAME$">
                <img src="<?if($CUSTOM1$)?>$CUSTOM1$<?else?>http://s6.ucoz.net/img/icon/profile.png<?endif?>">
            </a>
        <?else?>
            <img src="http://s6.ucoz.net/img/icon/profile.png" alt="$NAME$">
        <?endif?>
    </div>
    <div class="top">
        <a href="/index/8-$USER_ID$" title="Ответить" class="mc_username">$NAME$</a>
        <?if($EMAIL$)?><a href="$EMAIL_JS$" title="$STR_EMAIL$"><img src="http://s6.ucoz.net/t/601/e.gif"></a><?endif?>
        <?if($SITE$)?><a href="$SITE$" target="_blank" title="$STR_URL$" rel="nofollow"><img src="http://s6.ucoz.net/t/601/h.gif"></a><?endif?>
        <span class="pull-right" title="$DATE$">$TIME$</span>
    </div>
    <div class="msg">
        $MESSAGE$
        <?if($CUSTOM2$)?><br>$STR_CUSTOM2$: $CUSTOM2$<?endif?>
    </div>
</div>
