<% layout 'templates_pda/layouts/main.html.erb' do %>
    <%# breadcrumb? %>
    <% uif('$ADD_ENTRY_LINK$') { %>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-9">
                [ <a href="/blog/2009-11-16-5"><b>Правила добавления материала</b></a> ]<br>
                [ <a href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить материал</a> ]
            </div>
        </div>
    <% }.endif! %>
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <%= c '$CATEGORIES$' %>
            <hr class="hidden-md hidden-lg">
        </div>
        <div class="col-sm-12 col-md-10">
            <%= c '$BODY$' %>
        </div>
    </div>
<% end %>
