<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Файлы</li>
    </ol>

    <?if($ADD_ENTRY_LINK$)?>
        <div class="text-right">[ <a href="$ADD_ENTRY_LINK$">Добавить материал</a> ]</div>
    <?endif?>

    <div class="clearfix hr">
        Всего материалов в каталоге: <b>$NUM_ENTRIES$</b>
        <?if($NUM_SHOWN$)?><br/>Показано материалов: <b>$NUM_SHOWN$</b><?endif?>
        <?if($PAGE_SELECTOR$)?>
            <div class="pull-right">Страницы: $PAGE_SELECTOR$</div>
        <?endif?>
    </div>

    $BODY$

    <%= render :btm_page_selector %>
<% end %>
