<% @params[:title] = "#{c '$SECTION_NAME$'} - #{c '$MODULE_NAME$'} - #{c '$SITE_NAME$'}" %>

<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="<%= c '$MODULE_URL$' %>">Файлы</a></li>
        <li class="active"><%= c '$SECTION_NAME$' %></li>
    </ol>

    <% uif('$ADD_ENTRY_LINK$') { %>
        <div class="text-right">
            [ <a id="diradd" href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить материал</a> ]
        </div>
    <% }.endif! %>

    <div class="clearfix top-hr">
        <%= c '$BODY$' %>
    </div>
<% end %>
