<footer class="footer">
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                Copyright Gangren © <%= c '$YEAR$' %><br><%= c '$POWERED_BY$' %>
            </div>
        </div>
    </div>
</footer>
