<footer class="footer">
    <div class="row">
        <div class="col-md-12">
            <a href="/index/53" rel="nofollow" id="desktop_version_link">
                Версия для ПК
            </a>
            <div class="copyright">
                Copyright Gangren © <%= c '$YEAR$' %><br><%= c '$POWERED_BY$' %>
            </div>
        </div>
    </div>
</footer>
