<?if($ID$!=38 || <%= group_is('$CUR_GROUP_ID$', :admin, :master) %>)?>
    <div class="material hr">
        <div class="title clearfix">
            <a target="<?if($CID$==5)?>_self<?else?>_blank<?endif?>" href="$SITE_URL$">$TITLE$</a>
            <?if($MODER_PANEL$)?><div class="pull-right">$MODER_PANEL$</div><?endif?>
        </div>
        <div class="body">
            <?if($MESSAGE$)?>
                <div class="eMessage" style="padding-top:2px; padding-bottom:2px;">
                    $MESSAGE$
                </div>
            <?endif?>
            <ul class="details">
                <?if($RATING$)?><li><?$RSTARS$('12','/site/stars.png','1','float')?></li><?endif?>
                <?if($CID$!=5)?>
                    <?if($CATEGORY_NAME$)?><li>Категория: <a href="$CATEGORY_URL$">$CATEGORY_NAME$</a></li><?endif?>
                    <li>Переходов: $REDIRECTS$</li>
                    <li>
                        Добавил:
                        <a href="<?if($AUTHOR_EMAIL_JS$)?>$AUTHOR_EMAIL_JS$<?else?>$PROFILE_URL$<?endif?>">
                            <?if($AUTHOR_NAME$)?>$AUTHOR_NAME$<?else?>$USERNAME$<?endif?>
                        </a>
                    </li>
                <?else?>
                    <?if($READS$ || $REDIRECTS$)?>
                        <li>
                            Просмотров:
                            <?if($REDIRECTS$ > $READS$)?>$REDIRECTS$<?else?>$READS$<?endif?>
                            <?if(<%= group_is('$CUR_GROUP_ID$', :admin, :master) %>)?>
                                ($READS$|$REDIRECTS$)
                            <?endif?>
                        </li>
                    <?endif?>
                    <?if($COMMENTS_NUM$)?>
                        <li><a href="$COMMENTS_URL$">Комментарии: ($COMMENTS_NUM$)</a></li>
                    <?endif?>
                <?endif?>
                <li>Дата: $DATE$</li>
            </ul>
        </div>
    </div>
<?endif?>
