<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Каталог сайтов</li>
    </ol>

    <% ucoz_if('$ADD_ENTRY_LINK$') { %>
        <div class="text-right">[ <a href="$ADD_ENTRY_LINK$">Добавить материал</a> ]</div>
    <% }.endif! %>

    <div class="hr top-hr">
        $CATEGORIES$
    </div>

    <div class="clearfix hr">
        В разделе материалов: <b>$NUM_ENTRIES$</b>
        <?if($NUM_SHOWN$)?><br/>Показано материалов: <b>$NUM_SHOWN$</b><?endif?>
        <% ucoz_if('$PAGE_SELECTOR$') { %>
            <div class="pull-right">Страницы: $PAGE_SELECTOR$</div>
        <% }.endif! %>
    </div>

    $BODY$

    <% ucoz_if('$PAGE_SELECTOR1$') { %>
        <div class="text-center top-hr">$PAGE_SELECTOR1$</div>
    <% }.endif! %>
<% end %>
