<span class="pagesBlock1">
    <b class="swchItemA">
        <span>1</span>
    </b>
    <a class="swchItem" href="javascript://" rel="nofollow" onclick="spages('2');return false;">
        <span>2</span>
    </a>
    <a class="swchItem" href="javascript://" rel="nofollow" onclick="spages('2');return false;">
        <span>&raquo;</span>
    </a>
</span>
