<span class="pagesBlock2">
    <b class="swchItemA1">
        <span>1-50</span>
    </b>
    <a class="swchItem1" rel="nofollow" href="javascript://" onclick="spages('2');return false;">
        <span>51-66</span>
    </a>
</span>
