<script type="text/javascript">
    document.write('<a href="<%= config.ucoz_url %>/panel/?a=ustat;u=nevendaar;d=4;il=ru" target="_blank" title="uCoz Counter"><img alt="" style="margin:0;padding:0;border:0;" src="<%= config.ucoz_url %>/stat/'+Math.random()+'?01'+escape(document.referrer)+'" height="31" width="88" /></a>');
</script>
<noscript>
    <a href="http://www.ucoz.ru/main/?a=ustat;u=nevendaar;d=4;il=ru" target="_blank" title="uCoz Counter">
        <img alt="" style="margin:0;padding:0;border:0;" src="<%= config.ucoz_url %>/stat/<%= Time.now.to_i %>" height="31" width="88"/>
    </a>
</noscript>
