<div class="material hr">
    <div class="title clearfix">
        <h2><a href="$ENTRY_DIRECT_URL$" title="Прямая ссылка на вопрос" class="prompt-link" name="$ID$">$TITLE$</a></h2>
        <?if($MODER_PANEL$)?><div class="pull-right">$MODER_PANEL$</div><?endif?>
    </div>
    <div class="body">
        $MESSAGE$
        <div class="answer"><?if($ANSWER$)?>$ANSWER$<?else?><i>Еще нет ответа на этот вопрос.</i><?endif?></div>
        <?if($NAME$ && <%= group_is('$CUR_GROUP_ID$', :moderator, :admin, :master) %>)?>
            Добавил: <a href="$EMAIL_JS$">$NAME$</a> <?if($USERNAME$)?>(<a href="/index/8-$UID$" class="profile-link">$USERNAME$</a>)<?endif?>
        <?endif?>
        <% uif('$RATING$') { %><%= rating_stars %><% }.endif! %>
    </div>
</div>
