<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <?if($CATEGORY_NAME$)?>
            <li><a href="$MODULE_URL$">FAQ</a></li>
            <li class="active">$CATEGORY_NAME$</li>
        <?else?>
            <li class="active">FAQ</li>
        <?endif?>
    </ol>
    <?if($ADD_ENTRY_LINK$)?>
        <div class="text-right">[ <a href="$ADD_ENTRY_LINK$">Добавить вопрос</a> ]</div>
    <?endif?>
    <?if($CATEGORIES$)?><hr>$CATEGORIES$<?endif?>
    <hr>
    <?if $PAGE_ID$='add'||$PAGE_ID$='edit'?>
        <?substr($BODY$,0,strpos($BODY$,"m'}")+2)?>,success:function(a){var a=$(a);if(!a.text().match('myWinError')){addnn(a.text().match(/href="(.*)"\s/)[1],a.text().match(/<div[^<>]*>(.+)\]/i)[0])}}<?substr($BODY$,strpos($BODY$,"m'}")+2)?>
        <script>
            var str="";
            <?if($GROUP_ID$=4 || $GROUP_ID$=3 || $GROUP_ID$=14)?>
                $('<input id="atsn" type="checkbox" checked="checked"/> <label for="atsn">Добавить запись в блок "Новое на сайте"?</label><br/>').insertBefore('#ispen');
            <?endif?>
            function init(){
                str = <?if($PAGE_ID$='add')?>"$USERNAME$ задал<?if($USER_GENDER_ID$==2)?>а<?endif?> вопрос: "<?else?>($('#message').val() == '' ? "Дан ответ на вопрос: " : "Обновлён ответ на вопрос: ")<?endif?>
            }
            function addnn(url, t){
                <?if($GROUP_ID$=4 || $GROUP_ID$=3 || $GROUP_ID$=14)?>
                    if(!$('#atsn').attr('checked')){
                        _uWnd.content('addEnt', t) || $('input.manFlSbm').attr('disabled', 0);
                        return false
                    }
                <?endif?>
                $.get('/dir/5-0-0-0-1', function(i){
                    $.post('/dir/', {
                            jkd498:1,
                            jkd428:1,
                            ocat:5,
                            title:$('input[name="subject"]').val(),
                            slink:url,
                            brief:(str+'"'+$('input[name="subject"]').val()+'" в разделе [i]'+($('#fqF7').val()==0?'FAQ':$('#fqF7 > option').eq($('#fqF7').val()).text())+'[/i].'),
                            edttbrief:2,
                            format_brief:1,
                            a:12,
                            ssid:$('input[name="ssid"]', i).val(),
                            numi:1
                        }, function(p, s){
                            str = (s == 'success' ? '<br/><br/>( Добавлена запись в список обновления материалов )' : '');
                            _uWnd.content('addEnt', t + str) || $('input.manFlSbm').attr('disabled',0);
                            init();
                        }
                    )
                })
            }
            init();
        </script>
    <?else?>
        $BODY$
    <?endif?>
    <script>$("#entryID" + window.location.hash.substr(1)).addClass("faq_light");</script>
<% end %>
