<input type="text" id="siF12" class="manFlAvaLink" name="avatar" size="20" style="width:100%;" value="<%= home_url %>/avatar/04/712922.gif" maxlenth="150" />
<input type="file" id="siF11" class="manFlAvaFile" name="avau" style="width:100%;display:none;" size="20" />
<br />
[
<a href="javascript://" rel="nofollow" onclick="ava(0);return false;">Выбрать аватар</a>
|
<a href="javascript://" rel="nofollow" onclick="ava(1);return false;">Загрузить свой аватар</a>
]
