<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <%= render 'spec/fixtures/_partial.html.erb', :locals => {:partial_content => 'PARTIAL CONTENT'} %>
    </body>
</html>
