<% @params[:title] = "#{c '$SECTION_NAME$'} - #{c '$MODULE_NAME$'} - #{c '$SITE_NAME$'}" %>

<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="<%= c '$MODULE_URL$' %>">Фотоальбом</a></li>
        <li class="active"><%= c '$SECTION_NAME$' %></li>
    </ol>

    <%= c '$BODY$' %>
<% end %>
