<% layout _erbout do %>
    <div class="hr">$SEARCHFORM$</div>
    <div class="hr" style="border:1px inset;padding:4px;margin-bottom:4px;">
        Результаты <b>$NUM_SHOWN$</b> из <b>$NUM_ENTRIES$</b> по запросу <b>$SEARCH_QUERY$</b> ($SEARCH_TIME$ секунд)
    </div>
    $BODY$
    <div class="text-center">$PAGE_SELECTOR$</div>
<% end %>
