<html lang="ru">
    <head>
        <meta charset="utf-8">
        <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
        <title>$MODULE_NAME$ - $SITE_NAME$</title>
        <!-- Ucoz files above -->
        <link href="/css/ajax_win.css" rel="stylesheet">
        <link href="/css/my.css" rel="stylesheet">
        <script src="/js/my.js"></script>
    <?'</he'?>ad>
    <body>
        <div class="wrapper">
            $GLOBAL_HEADER$
            <div class="middle">
                <div class="container">
                    <main class="content bordered">
                        <!-- breadcrumb? -->
                        <?if($ADD_ENTRY_LINK$)?>
                            <div class="text-right">
                                [ <a href="/blog/2009-11-16-5"><b>Правила добавления материала</b></a> ]<br>
                                [ <a href="$ADD_ENTRY_LINK$">Добавить материал</a> ]
                            </div>
                        <?endif?>
                        $BODY$
                    </main>
                </div>
                $GLOBAL_ASIDE$
            </div>
            $GLOBAL_FOOTER$
        </div>
    </body>
</html>
