<% layout do %>
    <ol class="breadcrumb">
        <li><a href="$MODULE_URL$">Главная</a></li>
        <li class="active">$DATE_BAR$</li>
    </ol>
    <% ucoz_if(code_is('$PAGE_ID$', "'add'", "'edit'")) { %>
        <%= i("substr($BODY$,0,strpos($BODY$,\"m'}\")+2)") %>,success:function(a){var a=$(a);if(!a.text().match('myWinError')){addnn(a.text().match(/href="(.*)"\s/)[1],a.text().match(/<div[^<>]*>(.+)\]/i)[0])}}<%= i("substr($BODY$,strpos($BODY$,\"m'}\")+2)") %>
        <script type="text/javascript">
            var str="";
            <% ucoz_if(group_is('$GROUP_ID$', :moderator, :admin, :master)) { %>
                $('<input id="atsn" type="checkbox" checked="checked"/> <label for="atsn">Добавить запись в блок "Новое на сайте"?</label><br/>').insertBefore('#ispen');
            <% }.endif! %>
            function init(){
                <% ucoz_if("$PAGE_ID$='add'") { %>
                    str = "<%= c('$USERNAME$') %> поделил<% uif('$USER_GENDER_ID$=2') { %>ась<% }.else { %>ся<% }.endif! %> творчеством ";
                <% }.else { %>
                    str = "Обновлён материал ";
                <%}.endif!%>
            }
            function addnn(url, t){
                <% ucoz_if(group_is('$GROUP_ID$', :moderator, :admin, :master)) { %>
                    if(!$('#atsn').attr('checked')){
                        _uWnd.content('addEnt', t) || $('input.manFlSbm').attr('disabled', 0);
                        return false;
                    }
                <% }.endif! %>
                $.post('/dir/',
                        {
                            jkd498: 1,
                            jkd428: 1,
                            ocat: 5,
                            title: $('#blF1').val(),
                            slink: url,
                            brief: (str + '"' + $('#blF1').val() + '" в разделе [i]' + ($('select[name="cat"]').val() == 0 ? 'Фан-творчество' : $('select[name="cat"] > option').eq($('select[name="cat"]').val()).text()) + '[/i].'),
                            edttbrief: 2,
                            format_brief: 1,
                            a: 12,
                            ssid: $('input[name="ssid"]').val(),
                            numi: 1
                        }, function (p, s) {
                            str = (s == 'success' ? '<br/><br/>( Добавлена запись в список обновления материалов )' : '');
                            _uWnd.content('addEnt', t + str) || $('input.manFlSbm').attr('disabled', 0);
                            init();
                        }
                );
            }
            init();
        </script>
    <% }.else { %>
        <%= c('$BODY$') %>
    <% }.endif! %>
<% end %>
