<% layout do %>
    <ol class="breadcrumb">
        <li><a href="<%= c '$MODULE_URL$' %>">Главная</a></li>
        <li class="active"><%= c '$DATE_BAR$' %></li>
    </ol>
    <%= c('$BODY$') %>
<% end %>
