<% layout do %>
    <%# breadcrumb? %>
    <% uif('$ADD_ENTRY_LINK$') { %>
        <div class="text-right">
            [ <a href="/blog/2009-11-16-5"><b>Правила добавления материала</b></a> ]<br>
            [ <a href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить материал</a> ]
        </div>
    <% }.endif! %>
    <%= c '$BODY$' %>
<% end %>
