<html lang="ru">
    <head>
        <meta charset="utf-8">
        <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
        <title>$TITLE_BAR$ - $SITE_NAME$</title>
        <!-- Ucoz files above --><?if(0)?>
        <meta name="keywords" content=""><?endif?>
        <link href="/css/my.css" rel="stylesheet">
        <link type="text/css" rel="StyleSheet" href="/ajax/ajax-win1.css" />
        <script type="text/javascript" src="/js/my.js"></script>
        <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?17" charset="windows-1251"></script>
        <script type="text/javascript" src="http://vk.com/js/api/share.js?10" charset="windows-1251"></script>
        <meta name="title" content="$ENTRY_NAME$">
        <meta name="description" content="<?substr($MESSAGE$,0,strpos($MESSAGE$,'<'))?>...">
    <?'</he'?>ad>
    <body>
        <div class="wrapper">
            $GLOBAL_HEADER$
            <div class="middle">
                <div class="container">
                    <main class="content bordered">

                        <script type="text/javascript"> VK.init({apiId: 2014686, onlyWidgets: true}); </script>

                        <ol class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li>$DATE_BAR$</li>
                            <li class="active">$ENTRY_NAME$</li>
                        </ol>

                        <div class="material">
                            <div class="title clearfix">
                                <h2>$ENTRY_NAME$</h2>
                                <div class="time pull-right">
                                    $ADD_TIME$ $MODER_PANEL$
                                </div>
                            </div>
                            <div class="body">
                                $MESSAGE$
                                <?if($OTHER1$)?><div class="source"><a href="$OTHER1$" target="_blank">Источник</a></div><?endif?>
                                <?if($ATTACHMENTS$)?><div class="attachments">Прикрепления: $ATTACHMENTS$</div><?endif?>
                                <ul class="details">
                                    <?if($CAT_NAME$)?><li>Категория: <a href="$CAT_URL$">$CAT_NAME$</a></li><?endif?>
                                    <li>Просмотров: $READS$</li>
                                    <li>Добавил: <a href="$PROFILE_URL$">$USER$</a></li>
                                    <?if($RATING$)?><li>Рейтинг: <?$RSTARS$('12','/site/stars.png','1','float')?></li><?endif?>
                                    <li><div id="vk_like" style="float: left;"></div></li>
                                    <li id="vk_share"><script>make_VK_share_btn('<?if($IMG_SMALL_URL1$)?>$IMG_SMALL_URL1$<?else?><?if($IMG_URL1$)?>$IMG_URL1$<?endif?><?endif?>');</script></li>
                                </ul>
                                <?if($TAGS$)?><div class="tags">Теги: <i>$TAGS$</i></div><?endif?>
                            </div>
                        </div>

                        <?$RELATED_ENTRIES$(10)?>

                        <?if($COM_IS_ACTIVE$)?>
                            <div class="comment_box">
                                <div class="title clearfix">
                                    Всего комментариев: <b>$COM_NUM_ENTRIES$</b>
                                    <div style="float:right;">$COM_PAGE_SELECTOR$</div>
                                </div>
                                <div class="body">$COM_BODY$</div>
                                <?if($COM_CAN_ADD$)?>$COM_ADD_FORM$<?else?>
                                    <?if(!$USER_LOGGED_IN$)?><div class="text-center">Добавлять комментарии могут только зарегистрированные пользователи.<br />[ <a href="$REGISTER_LINK$">Регистрация</a> | <a href="$LOGIN_LINK$">Вход</a> ]</div><?endif?>
                                <?endif?>
                            </div>

                            <div class="text-center">$COM_PAGE_SELECTOR1$</div>
                            <div class="VKborders"><div id="vk_comments"></div></div>
                            <script type="text/javascript">(function(){VK.Widgets.Comments("vk_comments", {limit: 10}, <? 10000000000+$ID$ ?>);})();</script>
                        <?endif?>

                    </main>
                </div>
                $GLOBAL_ASIDE$
            </div>
            $GLOBAL_FOOTER$
        </div>
    </body>
</html>
