.entryQuestion {
  padding-bottom: 7px;
  padding-left: 15px;
  font-size: 7pt;
}

.faq_light {
  margin: 0 5px;
  background-color: rgba(255, 125, 0, 0.2);
  box-shadow:         0 0 10px rgba(255, 125, 0, 0.5);
}
