.footer {
  height: 190px;
  margin: 0 -45px;
  background: url(/img/sbbl.gif) left  bottom no-repeat,
              url(/img/sbbr.gif) right bottom no-repeat,
              url(/img/sbb.gif)        bottom repeat-x;
  > .copyright {
    position: relative;
    top: 45%;
    margin: 0 auto;
    width: 348px;
    height: 44px;
    color: #5C90A0;
    text-align: center;
    padding-top: 10px;
    background: url(/img/cp.gif) no-repeat 0 0;
  }
}
