.ucoz-forum-post {
  img {
    max-width: 100%;
    height: auto !important;
  }
}

/* General forum Table View */
.gTable {
  background: url('/site/14.jpg') bottom repeat-x #4a4842;
  padding-bottom: 12px;
}

.gTableTop {
  height: 36px;
  background: url('/site/48.gif');
  font-family: Verdana, Sans-Serif;
  color: #F8F3C9;
  font-size: 13px;
  font-weight: bold;
  padding-left: 22px;
}

.gTableSubTop {
  background: url('/site/38.gif') center;
  height: 20px;
  font-size: 10px;
}

.gTableBody {
  background: #000000;
}

.gTableBody1 {
  background: #000000;
}

.gTableBottom {
  background: #13110e;
}

.gTableLeft {
  background: #13110e;
  color: #a89d7b;
}

.gTableRight {
  background: #13110e;
  color: #a89d7b;
}

.gTableError {
  background: #13110e;
  color: #FF0000;
}
/* End General forum Table View */

/* Forums Styles */
.forumNameTd, .forumLastPostTd {
  background: #000000
}

.forumIcoTd, .forumThreadTd, .forumPostTd {
  background: #13110e
}

.forumLastPostTd, .forumArchive {
  font-size: 7pt;
}

.forumIcoTd img {
  max-width: 174px !important;
  max-height: 92px !important;
}

a.catLink:link {
  text-decoration: none;
  color: #F8F3C9;
}

a.catLink:visited {
  text-decoration: none;
  color: #F8F3C9;
}

a.catLink:hover {
  text-decoration: none;
  color: #FFFFFF;
}

a.catLink:active {
  text-decoration: none;
  color: #F8F3C9;
}

.lastPostGuest, .lastPostUser, .threadAuthor {
}

.archivedForum {
  font-size: 7pt;
  color: #FF0000;
}
/* End Forums Styles */

/* forum Titles & other */
.forum {
  font-size: 9pt;
}

.forumDescr, .forumModer {
  color: #CCCCCC;
  font-size: 7pt;
}

.forumViewed {
  font-size: 9px;
}

a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {
  text-decoration: none;
  color: #f6c577;
}

a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {
  text-decoration: none;
  color: #f6c577;
}

a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {
  text-decoration: none;
  color: #FFFFFF;
}

a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {
  text-decoration: none;
  color: #f6c577;
}
/* End forum Titles & other */

/* forum Navigation Bar */
.forumNamesBar {
  padding-bottom: 7px;
  font-size: 7pt;
}

.forumBarKw {
  font-weight: normal;
}

a.forumBarA:link {
  text-decoration: none;
  color: #f6c577;
}

a.forumBarA:visited {
  text-decoration: none;
  color: #f6c577;
}

a.forumBarA:hover {
  text-decoration: none;
  color: #FFFFFF;
}

a.forumBarA:active {
  text-decoration: none;
  color: #f6c577;
}
/* End forum Navigation Bar */

/* forum Fast Navigation Blocks */
.fastNav, .fastSearch, .fastLoginForm {
  font-size: 7pt;
}
/* End forum Fast Navigation Blocks */

/* forum Fast Navigation Menu */
.fastNavMain {
  background: #435381;
  color: #FFFFFF;
}

.fastNavCat {
  background: #E7EEF8;
}

.fastNavCatA {
  background: #E7EEF8;
  color: #0000FF
}

.fastNavForumA {
  color: #0000FF
}
/* End forum Fast Navigation Menu */

/* forum Page switches */
.pagesInfo {
  background: #746f66;
  padding-right: 10px;
  font-size: 7pt;
}

.switches {
  background: #4a4842;
}

.switch {
  background: #13110e;
  width: 15px;
  font-size: 7pt;
}

.switchActive {
  background: #f6c577;
  font-weight: bold;
  color: #000000;
  width: 15px
}

a.switchDigit:link, a.switchBack:link, a.switchNext:link {
  text-decoration: none;
  color: #f6c577;
}

a.switchDigit:visited, a.switchBack:visited, a.switchNext:visited {
  text-decoration: none;
  color: #f6c577;
}

a.switchDigit:hover, a.switchBack:hover, a.switchNext:hover {
  text-decoration: none;
  color: #FFFFFF;
}

a.switchDigit:active, a.switchBack:active, a.switchNext:active {
  text-decoration: none;
  color: #f6c577;
}
/* End forum Page switches */

/* forum Threads Style */
.threadNametd, .threadAuthTd, .threadLastPostTd {
  background: #000000
}

.threadIcoTd, .threadIcoTd, .threadPostTd, .threadViewTd {
  background: #13110e
}

.threadLastPostTd {
  font-size: 7pt;
}

.threadDescr {
  color: #CCCCCC;
  font-size: 7pt;
}

.threadNoticeLink {
  font-weight: bold;
}

.threadsType {
  background: #746f66;
  height: 20px;
  font-weight: bold;
  font-size: 7pt;
  color: #FFFFFF;
  padding-left: 40px;
}

.threadsDetails {
  background: #000000;
  height: 20px;
  color: #FEFEFE;
}

.forumOnlineBar {
  background: #000000;
  height: 20px;
  color: #FEFEFE;
}

a.threadPinnedLink:link {
  text-decoration: none;
  color: #f6c577;
}

a.threadPinnedLink:visited {
  text-decoration: none;
  color: #f6c577;
}

a.threadPinnedLink:hover {
  text-decoration: none;
  color: #FFFFFF;
}

a.threadPinnedLink:active {
  text-decoration: none;
  color: #f6c577;
}

.threadPinnedLink, .threadLink {
  font-weight: bold;
}

a.threadLink:link {
  text-decoration: none;
  color: #f6c577;
}

a.threadLink:visited {
  text-decoration: none;
  color: #f6c577;
}

a.threadLink:hover {
  text-decoration: none;
  color: #FFFFFF;
}

a.threadLink:active {
  text-decoration: none;
  color: #f6c577;
}

.postpSwithces {
  font-size: 7pt;
}

.thDescr {
  font-weight: normal;
}

.threadFrmBlock {
  font-size: 7pt;
  text-align: right;
}
/* End forum Threads Style */

/* Posts View */
.postTable {
  background: #292824
}

.postPoll {
  background: #13110e;
  text-align: center;
}

.postFirst {
  background: #13110e;
}

.postRest1 {
  background: #13110e;
}

.postRest2 {
  background: #13110e;
}

.postSeparator {
  height: 2px;
  background: #f6c577;
}

.postTdTop {
  background: url('/site/38.gif') center;
  height: 20px;
  font-size: 10px;
}

.postBottom {
  background: #000000;
  height: 17px;
}

.postUser {
  font-weight: bold;
}

.postTdInfo {
  background: #13110e;
  text-align: center;
  padding: 5px;
}

.postRankName {
  margin-top: 5px;
}

.postRankIco {
  margin-bottom: 5px;
}

.reputation {
  margin-top: 5px;
}

.signatureHr {
  margin-top: 20px;
  color: #CCCCCC;
}

.posttdMessage {
  background: #000000;
  padding: 10px;
}

.postPoll {
  padding: 5px;
}

.pollQuestion {
  text-align: center;
  font-weight: bold;
}

.pollButtons, .pollTotal {
  text-align: center;
}

.pollSubmitBut, .pollreSultsBut {
  width: 140px;
  font-size: 7pt;
}

.pollSubmit {
  font-weight: bold;
}

.pollEnd {
  text-align: center;
  height: 30px;
}

.codeMessage, .quoteMessage {
  background: #746f66;
  font-size: 9px;
  padding: 2px;
}

.signatureView {
  font-size: 7pt;
}

.edited {
  padding-top: 30px;
  font-size: 7pt;
  text-align: right;
  color: #CCCCCC;
}

.editedBy {
  font-weight: bold;
  font-size: 8pt;
}

.statusBlock {
  padding-top: 3px;
}

.statusOnline {
  color: #FFFF00;
}

.statusOffline {
  color: #FFFFFF;
}
/* End Posts View */

/* Post Form */
.queryField, .loginField {
  background: #13110e;
  color: #a89d7b;
  border: 1px solid #4a4842;
  margin: 1px;
}

.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {
  font-size: 7pt;
  background: #856749;
  color: #13110e;
  border: 1px outset #4a4842;
}

.codeButtons {
  font-size: 7pt;
  background: #856749;
  color: #13110e;
  border: 1px outset #4a4842;
}

.codeCloseAll {
  font-size: 7pt;
  background: #856749;
  color: #13110e;
  border: 1px outset #4a4842;
  font-weight: bold;
}

.postNameFl, .postDescrFl {
  background: #535048;
  border: 1px solid #4a4842;
  width: 400px;
  color: #FFFFFF;
  /*color: #746f66;*/
}

.postPollFl, .postQuestionFl {
  background: #535048;
  border: 1px solid #4a4842;
  width: 400px;
  color: #FFFFFF;
}

.postResultFl {
  background: #535048;
  border: 1px solid #4a4842;
  width: 50px;
  color: #FFFFFF;
}

.postAnswerFl {
  background: #535048;
  border: 1px solid #4a4842;
  width: 300px;
  color: #FFFFFF;
}

.postTextFl {
  background: url('/site/bkform.gif') #535048;
  border: 1px solid #4a4842;
  width: 550px;
  height: 150px;
  color: #FFFFFF;
  resize: vertical;
  min-height: 100px;
  max-height: 600px;
}

.postUserFl {
  background: #535048;
  border: 1px solid #4a4842;
  width: 300px;
  color: #FFFFFF;
}

.pollHelp {
  font-weight: normal;
  font-size: 7pt;
  padding-top: 3px;
}

.smilesPart {
  padding-top: 5px;
  text-align: center
}

#frM58 {
  padding-right: 5px;
}
/* End Post Form */

/* forum AllInOne Fast Add */
.newThreadBlock {
  background: #F9F9F9;
  border: 1px solid #B2B2B2;
}

.newPollBlock {
  background: #F9F9F9;
  border: 1px solid #B2B2B2;
}

.newThreadItem {
  padding: 0 0 0 8px;
  background: url('/site/49.gif') no-repeat 0 4px;
}

.newPollItem {
  padding: 0 0 0 8px;
  background: url('/site/49.gif') no-repeat 0 4px;
}
/* End forum AllInOne Fast Add */
