.header {
  height: 204px;
  margin: 0 -45px;
  position: relative;
  background: url(/img/sbtr.gif) right no-repeat,
              url(/img/sbtl.gif) left  no-repeat,
              url(/img/s_lg_bck.gif) 357px 26px no-repeat,
              url(/img/sbt.gif)  top   repeat-x;
  a.logo {
    font-size: 20pt;
    letter-spacing: 6pt;
    position: absolute;
    top: 50%;
    left: 35%;
  }
  > .topbar {
    height: 26px;
    position: absolute;
    right: 27%;
  }
  .icon {
    background: url(/img/btns.gif) no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 5px;
    border-bottom: 1px solid #13110E;
    box-shadow: 10px 0 10px -5px black;
  }
  .home_icon {
    background-position: 0 0;
    &:hover {
      background-position: 100% 0;
    }
  }
  .reg_icon {
    background-position: 0 -25px;
    &:hover {
      background-position: 100% -25px;
    }
  }
  .login_icon {
    background-position: 0 -50px;
    &:hover {
      background-position: 100% -50px;
    }
  }
  .logout_icon {
    background-position: 0 -75px;
    &:hover {
      background-position: 100% -75px;
    }
  }
  .person_icon {
    background-position: 0 -100px;
    &:hover {
      background-position: 100% -100px;
    }
  }
  > .infobar {
    position: absolute;
    right: 80px;
    bottom: 2px;
  }
}

.silver_line {
  height: 12px;
  background: url('/img/silver_line.gif');
}
