* {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: transparent;
  scrollbar-face-color: #636363;
  scrollbar-arrow-color: #898989;
  scrollbar-highlight-color: #707070;
  scrollbar-shadow-color: #555555;
  scrollbar-darkshadow-color: #464646;
  scrollbar-3dlight-color: #7d7d7d;
  scrollbar-track-color: #252525;
}

body, td {
  color: #F6C577;
  font-family: "verdana", "arial", "helvetica", sans-serif;
  font-size: 8pt;
}

textarea {
  resize: none;
}

hr, .hr:after, .top-hr:before,
.breadcrumb:after {
  height: 1px;
  border: 1px inset #160D0B;
  color: #160D0B;
  margin: 0.5em auto;
  display: block;
}

.hr:after, .top-hr:before,
.breadcrumb:after {
  content: " ";
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  margin: 5px 0 8px;
}

h1 {
  font-size: 19pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 10pt;
}

h4 {
  font-size: 8pt;
}

h5 {
  font-size: 8pt;
  font-weight: 500;
}

h6 {
  font-size: 8pt;
  font-weight: 400;
}

a {
  text-decoration: none;
  &:link, &:active, &:visited {
    color: #FFBA4B;
  }
  &:hover {
    color: #FFFFFF;
  }
}

textarea, input {
  border: 1px solid #4A4842;
}

button, .codeButtons {
  background: #856749;
  border: 1px outset #4A4842;
  color: #13110E;
  padding: 1px;
}

button {
  padding: 1px 8px;
}

input {
  &[type=checkbox], &[type=radio] {
    border: 0;
    color: #F6C577;
    margin: 3px 3px 0 5px;
    padding: 1px;
  }
}

.dark-back {
  background-color: #13110e;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
  width: 100%;
  position: relative;
  &:after {
    display: table;
    clear: both;
    content: " ";
  }
}

.container {
  width: 100%;
  float: left;
  overflow: hidden;
}

.content, .wide_content {
  margin: 10px 8px 0;
}

.content {
  margin-left: 230px;
}

.bordered {
  background: url("/img/back.gif") #746f66;
  border: 52px solid transparent;
  border-right-width: 44px;
  border-left-width: 44px;
  border-image:         url(/img/b.gif) 52 44 repeat;

  > .border-exp {
    margin: -20px -15px;
  }
}

.clearfix {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.wrapper {
  /* min-width: 800px; */
  padding: 0 45px;
  background: url(/img/sbl.gif) left  0 repeat-y,
              url(/img/sbr.gif) right 0 repeat-y;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none   !important;
  visibility: hidden !important;
}

#switch_to_pda_blk {
  margin: 0 -45px;
  background: #777;
  > a {
    width: 100%;
    display: block;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}
