.mc_post > {
  .avatar {
    float: left;
    width: 25px;
    img {
      vertical-align: -2px;
      max-width: 25px;
    }
  }
  .top > .mc_username {
    font-weight: bold;
  }
  .msg {
    margin-left: 25px;
  }
}

#mc-reload-btn {
  border: 0;
  width: 32px;
  height: 35px;
  cursor: pointer;
}
