/* General Style */

form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}
.small {font-size:8pt;}
h1{font-family:Arial,Sans-Serif;color:#a89d7b;font-size:13px;margin:0px 0px 0px 0px}
h2{font-family:Arial,Sans-Serif;color:#a89d7b;font-size:12px;margin:0px 0px 0px 0px}

.passive {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.u-star-rating {display: inline-block;}

input.uSpoilerButton {
  border-radius: 2px;
  border-top-style: none;
  border-right: 2px solid #7d7d7d;
  border-bottom-style: none;
  border-left: 2px solid #7d7d7d;
  height: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #cacaca;
  background: url('/Forumdata/spoiler7.gif');
  padding-bottom: 2px;
  &:hover {
    color: #cccccc;
  }
}

.uSpoilerText {padding: 5px 10px;}

a.noun:link {text-decoration:none; color:#824621}
a.noun:active {text-decoration:none; color:#824621}
a.noun:visited {text-decoration:none; color:#824621}
a.noun:hover {text-decoration:none; color:#FFFFFF}
.mframe1 {padding:2 10 30 10px;}
label {cursor:pointer;cursor:hand}

.infTable{}
.infTitleT{background-color:rgba(125,125,125,0.2);font-size:8pt;}
.infTitleD{background-color:rgba(125,125,125,0.2); font-size:7pt;}
.infMes{}
.eTitle{}

/* Race_button */
 .Imperia_but, .Legion_but, .Elf_but, .Undead_but, .Clans_but, .Neutral_but{width: 180px; height:50px; text-align: center; background-repeat: no-repeat; background-position: center;}
 .Imperia_but{background-image:url('/site/ImperiaOff.gif');}
 .Imperia_but:hover{background-image:url('/site/ImperiaOn.gif');}
 .Legion_but{background-image:url('/site/LegionOff.gif');}
 .Legion_but:hover{background-image:url('/site/LegionOn.gif');}
 .Elf_but{background-image:url('/site/ElfOff.gif');}
 .Elf_but:hover{background-image:url('/site/ElfOn.gif');}
 .Undead_but{background-image:url('/site/UndedOff.gif');}
 .Undead_but:hover{background-image:url('/site/UndedOn.gif');}
 .Clans_but{background-image:url('/site/ClanOff.gif');}
 .Clans_but:hover{background-image:url('/site/ClanOn.gif');}
 .Neutral_but{background-image:url('/site/NeutralOff.gif');}
 .Neutral_but:hover{background-image:url('/site/NeutralOn.gif');}
/* \Race_button */

.blocktitle {font-family:Verdana,Sans-Serif;color:#a89d7b;font-size:13px;font-weight:bold; padding-left:22px; background: url('/site/41.gif') no-repeat 5px 2px;}

.menut0 {background:#435381;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;}
.menut {padding:2 3 3 15px;background:#13110e;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;}
.mframe {padding:2 0 30 30px;}
.bannerTable {width:468;height:60;background:#13110e;border-top:1px solid #FFFFFF;border-left:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;}

.menu1 {font-weight:bold;font-size:8pt;font-family:Arial,Sans-Serif;}
a.menu1:link {text-decoration:none; color:#f6c577}
a.menu1:active {text-decoration:none; color:#f6c577}
a.menu1:visited {text-decoration:none; color:#f6c577}
a.menu1:hover {text-decoration:none; color:#000000}
/* ------------- */

/* Menus */
ul.uz {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 17px; background: url('/site/42.gif') no-repeat; margin-bottom: .6em;}
/* ----- */

/* Main Menu */
.m {font-weight:normal;}
a.m:link {text-decoration:none; color:#824621;}
a.m:active {text-decoration:none; color:#824621}
a.m:visited {text-decoration:none; color:#824621}
a.m:hover {text-decoration:none; color:#FFFFFF}
li.m {margin: 0; padding: 0 0 0 17px; background: url('/site/42.gif') no-repeat; margin-bottom: .6em;}

.ma {font-weight:bold;}
a.ma:link {text-decoration:none; color:#f6c577}
a.ma:visited {text-decoration:none; color:#f6c577}
a.ma:hover {text-decoration:none; color:#FFFFFF}

.mb
a.mb:link {text-decoration:none; color:#ffba4b;}
a.mb:active {text-decoration:none; color:#ffba4b;}
a.mb:visited {text-decoration:none; color:#ffba4b;}
a.mb:hover {text-decoration:none; color:#FFFFFF;}

.mc {font-weight:bold;}
a.mc:link {text-decoration:none; color:#ffba4b;}
a.mc:active {text-decoration:none; color:#ffba4b;}
a.mc:visited {text-decoration:none; color:#ffba4b;}
a.mc:hover {text-decoration:none; color:#FFFFFF;}

/* --------- */

/* Module Part Menu */
.catsTd {padding: 0 0 6px 17px; background: url('/site/42.gif') no-repeat;}
.catName {font-family:verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNameActive {font-family:verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNumData {font-size:7pt;color:#D8D5D5;}
.catDescr {font-size:7pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#ffba4b;}
a.catName:visited {text-decoration:none; color:#ffba4b;}
a.catName:hover {text-decoration:none; color:#FFFFFF;}
a.catName:active {text-decoration:none; color:#ffba4b;}
a.catNameActive:link {text-decoration:none; color:#f6c577;}
a.catNameActive:visited {text-decoration:none; color:#f6c577;}
a.catNameActive:hover {text-decoration:none; color:#FFFFFF;}
a.catNameActive:active {text-decoration:none; color:#f6c577;}
/* ----------------- */

/* Entries Style */
.entryTable {}
.entryTitle {font-family:Verdana,Arial,Sans-Serif;font-size:13px;font-weight:bold;color:#a89d7b; padding: 0 0 0 21px; background: url('/site/43.gif') no-repeat;}
a.entryTitleLink:link {text-decoration:none; color:#f6c577;}
a.entryTitleLink:visited {text-decoration:none; color:#f6c577;}
a.entryTitleLink:hover {text-decoration:none; color:#FFFFFF;}
a.entryTitleLink:active {text-decoration:none; color:#f6c577;}

.entryTextTd {text-align:justify; padding:5px;border-top:1px dashed #EFEFEF;}

.entryDetailsTd {border-top:1px dashed #160d0b;border-bottom:1px dashed #160d0b;color:#160d0b;padding-bottom:5px;padding-top:3px;text-align:left;font-size:7pt;}
.entryDetailsTd1 {border-top:1px dashed #160d0b;border-bottom:1px dashed #160d0b;color:#160d0b;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}
.entryDetailsTd2 {border-top:1px dashed #160d0b;border-bottom:1px dashed #160d0b;color:#160d0b;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}

.entryDateTd {font-size:7pt;font-family:Tahoma,Arial,Sans-Serif;}
.entryRatingSelect {font-size:7pt;}

.entryHr {width:310px;color:#13110e;display:none;}
.entryHr1 {width:240px;color:#DDDDDD;display:none;}

.entryReadAll {padding-left:5px;}
.entryAttaches {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('/site/44.gif') no-repeat 0px 0px;}
/* --------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {color:#FF0000;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
.manHelpTable {}
.manHelpTd {}
/* ------------------ */

/* Comments Style */
.commAllTd {padding:5px;}
.commSwitchesTd {padding:5px;}
.commNumTd {color:#a89d7b;}
.commIpTd {font-size:9px;color:#4a4842;}
.commDateTd {font-size:9px;color:#4a4842;}
.commCommentTd {color:#a89d7b;}
.commNameTd {color:#D3DCED;}
.commAnswer {color:#F4F5F7;padding-left:15px;padding-top:4px;font-style:italic;}
.commAnswerSign {font-weight:bold;}
.commName {font-weight:bold;color:#D3DCED;}

.cBlock1, .cBlock2 {background-color:rgba(125,125,125,0.4);border:1px solid #4a4842;}

.commTable1 {background:#13110e;border:1px solid #4a4842;}
.commTable2 {background:#13110e;border:1px solid #4a4842;}
.commBodyTable {}
.middleImg {width:4px;}
/* -------------- */

/* Comments Form Style */
.commTable {background-color:rgba(125,125,125,0.4);border:1px solid #4a4842;}
.commTd1 {color:#ffba4b; font-weight:bold; padding-left:5px;}
.commTd2 {padding-bottom:2px;}
.commFl {width:100%;color:#FFFFFF;background: url('/site/bkform.gif') #535048;border:1px solid #4a4842;}
.smiles {background:#746f66;border:1px solid #4a4842;}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#FF0000;}
.securityCode {}
/* ------------------- */

/* Guestbook Post Form */
.signTable {background:#13110e;border:1px solid #4a4842;}
.signField {width:100%;color:#FFFFFF;background:#535048;border:1px solid #4a4842;}
.signFieldMessage {width:100%;color:#FFFFFF;background:#535048;border:1px solid #4a4842;}
.signFieldCount {color:#FFFFFF;background:#535048;border:1px solid #4a4842;width:40px;font-weight:bold;text-align:center;}

.signErrorTd {color:#FF0000;}
.signTd1 {color:#a89d7b;font-weight:bold;}
.signButtonTd {padding-top:15px;}
.showSmiles {padding:5 0 0 10px;}
/* -------------------- */

/* News/Blog Archive Menu */
.archLi {padding: 0 0 3px 10px; background: url('/site/45.gif') no-repeat 0px 4px;}
.archActive {color:#a89d7b;}
a.archLink:link {text-decoration:underline; color:#a89d7b;}
a.archLink:visited {text-decoration:underline; color:#a89d7b;}
a.archLink:hover {text-decoration:none; color:#D8D5D5;}
a.archLink:active {text-decoration:none; color:#D8D5D5;}
/* ---------------------- */

/* News/Blog Archive Style */
.archiveCalendars {text-align:center;color:#B5C4E1;}
.archiveDateTitle {font-weight:bold;color:#a89d7b;padding-top:15px;}
.archEntryHr {width:250px;color:#DDDDDD;}
.archiveEntryTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('/site/46.gif') no-repeat 0px 2px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none; color:#FFFFFF}
a.archiveDateTitleLink:visited {text-decoration:none; color:#FFFFFF}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#FFFFFF}
a.archiveDateTitleLink:active {text-decoration:underline; color:#FFFFFF}
.archiveNoEntry {text-align:center;color:#B5C4E1;}
/* ------------------------ */

/* News/Blog Calendar Style */
.calMonth {}
.calWday {color:#FFFFFF; background:#4a4842; width:18px;}
.calWdaySe {color:#13110e; background:#824621; width:18px;}
.calWdaySu {color:#13110e; background:#824621; width:18px; font-weight:bold;}
.calMday {color:#a89d7b;background:#13110e;border:1px solid #4a4842;}
.calMdayA {color:#000000;background:#f6c577; font-weight:bold;}
.calMdayIs {color:#FFFFFF;background:#13110e;font-weight:bold;border: 1px solid #f6c577;}
.calMdayIsA {border:1px solid #FFFFFF; background:#4a4842;font-weight:bold;}
a.calMonthLink:link,a.calMdayLink:link {text-decoration:none; color:#FFFFFF;}
a.calMonthLink:visited,a.calMdayLink:visited {text-decoration:none; color:#FFFFFF;}
a.calMonthLink:hover,a.calMdayLink:hover {text-decoration:underline; color:#FFFFFF;}
a.calMonthLink:active,a.calMdayLink:active {text-decoration:none; color:#FFFFFF;}
/* ------------------------ */

/* Photo Thumbnail */
.photoTable {border:1px solid #4a4842;}
.photoTopCenter,.photoBottomCenter {height:4px}
.photoComms {font-size:7pt;}
.albumLink {font-size:7pt;}
/* --------------- */

/* Photo Style */
.photoDetails {color:CCCCCC;}
.photoHr {color:#E6E8EA;height:1px;border-top:1px;}
.photoAdvicer {border-left:1px solid #E6E8EA;}

.phtTable {width:100%;background:#13110e;border:1px dotted #FFFFFF;}
.phtTd {width:40%;height:100px;background:#435381;padding:3px;border-right:1px dotted #FFFFFF;}
.phtDetailsTd {width:60%;padding:3px}
/* ----------- */

/* Photo Advice to Friend */
.advButton {border:1px solid #FFFFFF;color:#000000;background:#CACED2;width:150px}
/* ---------------------- */

/* Poll styles */
.answer {font-size:8pt;}
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#000000;}
.textResults {background:#FFFFFF}
.textResultsTd {background:#13110e}

.pollNow {background:#FFFFFF}
.pollNowTd {background:#13110e}

.totalVotesTable {}
.totalVotesTd {background:#13110e}
/* ---------- */

/* Login Form */
.forRegTd {height:30px;}
.forRegLink {font-size:7pt;}
.loginError {color:#FF0000;}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:#98002f;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:yellow;}
/*a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:ffba4b;}*/

a.groupOther9:link,a.groupOther9:visited,a.groupOther9:hover {color:#969696;}

a.groupOther10:link,a.groupOther10:visited,a.groupOther10:hover {color:#47b649;}
/* ---------------- */

/* Other Styles */
.replaceTable {background: #746f66;height:100px;width:300px;border:1px solid #4a4842;}
.replaceBody {background:#13110e;}
li.fastHelp {margin: 0; padding: 0 0 0 13px; background: url('/site/47.gif') no-repeat 0px 0px; margin-bottom: .6em;}
.noEntriesOnMain {text-align:justify;color:#B5C4E1;}
.funcBlock {padding-top:5px; padding-right:3px;}
.legendTd {font-size:7pt;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:url('/site/14.jpg') bottom repeat-x #4a4842;padding-bottom:12px;}
.gTableTop {height:36px; background: url('/site/48.gif');font-family:Verdana,Sans-Serif;color:#F8F3C9;font-size:13px; font-weight:bold; padding-left:22px;}
.gTableSubTop {background:url('/site/38.gif') center;height:20px;font-size:10px;}
.gTableBody {background:#000000;}
.gTableBody1 {background:#000000;}
.gTableBottom {background:#13110e;}
.gTableLeft {background:#13110e;color:#a89d7b;}
.gTableRight {background:#13110e;color:#a89d7b;}
.gTableError {background:#13110e;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {background:#000000}
.forumIcoTd,.forumThreadTd,.forumPostTd {background:#13110e}
.forumLastPostTd,.forumArchive {font-size:7pt;}
.forumIcoTd img {
 max-width: 174px !important;
 max-height: 92px !important;
}

a.catLink:link {text-decoration:none; color:#F8F3C9;}
a.catLink:visited {text-decoration:none; color:#F8F3C9;}
a.catLink:hover {text-decoration:none; color:#FFFFFF;}
a.catLink:active {text-decoration:none; color:#F8F3C9;}

.lastPostGuest,.lastPostUser,.threadAuthor {}
.archivedForum{font-size:7pt;color:#FF0000;}
/* ------------- */

/* forum Titles & other */
.forum {font-size:9pt;}
.forumDescr,.forumModer {color:#CCCCCC;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#f6c577;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#f6c577;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:none; color:#FFFFFF;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:none; color:#f6c577;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {padding-bottom:7px;font-size:7pt;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#f6c577;}
a.forumBarA:visited {text-decoration:none; color:#f6c577;}
a.forumBarA:hover {text-decoration:none; color:#FFFFFF;}
a.forumBarA:active {text-decoration:none; color:#f6c577;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#435381;color:#FFFFFF;}
.fastNavCat {background:#E7EEF8;}
.fastNavCatA {background:#E7EEF8;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.pagesInfo {background:#746f66;padding-right:10px;font-size:7pt;}
.switches {background:#4a4842;}
.switch {background:#13110e;width:15px;font-size:7pt;}
.switchActive {background:#f6c577;font-weight:bold;color:#000000;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#f6c577;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#f6c577;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:none; color:#FFFFFF;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:none; color:#f6c577;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {background:#000000}
.threadIcoTd,.threadIcoTd,.threadPostTd,.threadViewTd {background:#13110e}
.threadLastPostTd {font-size:7pt;}
.threadDescr {color:#CCCCCC;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {background:#746f66;height:20px;font-weight:bold;font-size:7pt;color:#FFFFFF;padding-left:40px; }
.threadsDetails {background:#000000;height:20px;color:#FEFEFE;}
.forumOnlineBar {background:#000000;height:20px;color:#FEFEFE;}

a.threadPinnedLink:link {text-decoration:none; color:#f6c577;}
a.threadPinnedLink:visited {text-decoration:none; color:#f6c577;}
a.threadPinnedLink:hover {text-decoration:none; color:#FFFFFF;}
a.threadPinnedLink:active {text-decoration:none; color:#f6c577;}

.threadPinnedLink,.threadLink {font-weight:bold;}
a.threadLink:link {text-decoration:none; color:#f6c577;}
a.threadLink:visited {text-decoration:none; color:#f6c577;}
a.threadLink:hover {text-decoration:none; color:#FFFFFF;}
a.threadLink:active {text-decoration:none; color:#f6c577;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* Posts View */
.postTable {background:#292824}
.postPoll {background:#13110e;text-align:center;}
.postFirst {background:#13110e;}
.postRest1 {background:#13110e;}
.postRest2 {background:#13110e;}
.postSeparator {height:2px;background:#f6c577;}

.postTdTop {background:url('/site/38.gif') center;height:20px;font-size:10px;}
.postBottom {background:#000000;height:17px;}
.postUser {font-weight:bold;}
.postTdInfo {background:#13110e;text-align:center;padding:5px;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#CCCCCC;}
.posttdMessage {background:#000000; padding: 10px;}

.postPoll {padding:5px;}
.pollQuestion {text-align:center;font-weight:bold;}
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage, .quoteMessage {background:#746f66;font-size:9px;padding:2px;}

.signatureView {font-size:7pt;}
.edited {padding-top:30px;font-size:7pt;text-align:right;color:#CCCCCC;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#FFFF00;}
.statusOffline {color:#FFFFFF;}
/* ---------- */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('/site/49.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('/site/49.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* Post Form */
.queryField, .loginField {background:#13110e;color:#a89d7b;border:1px solid #4a4842;margin:1px;}

.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {font-size:7pt;background: #856749;color:#13110e;border:1px outset #4a4842;}

.codeButtons {font-size:7pt;background: #856749;color:#13110e;border:1px outset #4a4842;}
.codeCloseAll {font-size:7pt;background: #856749;color:#13110e;border:1px outset #4a4842;font-weight:bold;}
.postNameFl,.postDescrFl {background:#535048;border:1px solid #4a4842;width:400px;color:#FFFFFF;} /*746f66*/
.postPollFl,.postQuestionFl {background:#535048;border:1px solid #4a4842;width:400px;color:#FFFFFF;}
.postResultFl {background:#535048;border:1px solid #4a4842;width:50px;color:#FFFFFF;}
.postAnswerFl {background:#535048;border:1px solid #4a4842;width:300px;color:#FFFFFF;}
.postTextFl {background: url('/site/bkform.gif') #535048;border:1px solid #4a4842;width:550px;height:150px;color:#FFFFFF;}
.postUserFl {background:#535048;border:1px solid #4a4842;width:300px;color:#FFFFFF;}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* --------- */

/* ====== forum End ====== */

/* ====== vertus crazy code ====== */
.eTitle {font-size:14pt;padding-bottom:5px;}
.eTitle a {font-size:14pt;}
/* --------- */

/* ====== bb-tags "code" ====== */
.bbCodeBlock .bbCodeName {padding-left:5px;font-weight:bold;font-size:7pt;}
.bbCodeBlock .codeMessage{border:1px inset;max-height:200px;overflow:auto;height:expression(this.scrollHeight<5?this.style.height:scrollHeight>200?'200px':''+(this.scrollHeight+5)+'px');}
/* --------- */

.marg_list li{margin: 6px 0px;}
