.back-btn {
  img {
    border: 0;
  }
}

.d2race {
  h1, h2 {
    font-family: 'Monotype Corsiva';
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    padding-left: 53px;
    min-height: 50px;
    line-height: 50px;
  }
  h2 {
    padding-left: 35px;
    min-height: 30px;
    line-height: 30px;
    font-size: 16pt;
  }
  h2.leaders {
    background: url('/Disciples2/Rasi/general/75245697.gif') no-repeat;
    &:after {
      content: 'Лидеры';
    }
  }
  h2.warriors {
    background: url('/Disciples2/Rasi/general/Wariar.gif') no-repeat;
    &:after {
      content: 'Воины';
    }
  }
  h2.archers {
    background: url('/Disciples2/Rasi/general/Archer.gif') no-repeat;
    &:after {
      content: 'Лучники';
    }
  }
  h2.wizards {
    background: url('/Disciples2/Rasi/general/Magic.gif') no-repeat;
    &:after {
      content: 'Маги';
    }
  }
  h2.support {
    background: url('/Disciples2/Rasi/general/support.gif') no-repeat;
    &:after {
      content: 'Юниты поддержки';
    }
  }
  &.legions {
    h1 {
      background: url('/Disciples2/Rasi/general/legion.gif') no-repeat;
    }
  }
}

.d2-unit-stats {
  margin: 0 auto;
  width: 550px;
  caption {
    font-family: 'Monotype Corsiva';
    font-size: 14pt;
    font-weight: bold;
  }
  td.portrait {
    width: 120px;
    img {
      border: 0;
    }
  }
  th {
    width: 160px;
    text-align: left;
    padding-left: 5px;
    &:after {
      content: ':';
    }
  }
  td.description {
    padding: 10px 3px;
    text-align: justify;
  }
}
