.orange {
  color: #daa520;
}

.back-btn {
  img {
    border: 0;
  }
}

$race-btn-width: 180px;
$race-btn-height: 50px;
$race-list: (
//     race-name img-name
        empire   55633000,
        clans    gnom,
        legions  legion,
        undead   undead,
        elves    elfs,
        neutrals neutral
);

.race-blc {
  text-align: center;
  margin: 0 auto;
  width: #{$race-btn-width * 3 + 10};
}

.race-btn {
  background: url('/site/race-btns.gif') no-repeat;
  width: $race-btn-width;
  height: $race-btn-height;
  display: inline-block;
  img {
    width: $race-btn-width;
    height: $race-btn-height;
  }
  @for $i from 1 through length($race-list) {
    $race: nth(nth($race-list, $i), 1);
    $btn-bg-top: -$race-btn-height * ($i - 1);
    &.#{$race} {
      background-position: 0 $btn-bg-top;
      &:hover, &.active {
        background-position: -$race-btn-width $btn-bg-top;
      }
    }
  }
}

.d2race {
  @extend .clearfix;
  img {
    border: 0;
  }
  h1, h2 {
    font-family: 'Monotype Corsiva';
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    padding-left: 53px;
    min-height: 50px;
    line-height: 50px;
  }
  h2 {
    padding-left: 35px;
    min-height: 30px;
    line-height: 30px;
    font-size: 16pt;
  }
  h2.leaders {
    background: url('/Disciples2/Rasi/general/75245697.gif') no-repeat;
    &:after {
      content: 'Лидеры';
    }
  }
  h2.warriors {
    background: url('/Disciples2/Rasi/general/Wariar.gif') no-repeat;
    &:after {
      content: 'Воины';
    }
  }
  h2.archers {
    background: url('/Disciples2/Rasi/general/Archer.gif') no-repeat;
    &:after {
      content: 'Лучники';
    }
  }
  h2.wizards {
    background: url('/Disciples2/Rasi/general/Magic.gif') no-repeat;
    &:after {
      content: 'Маги';
    }
  }
  h2.support {
    background: url('/Disciples2/Rasi/general/support.gif') no-repeat;
    &:after {
      content: 'Юниты поддержки';
    }
  }
  @each $race in $race-list {
    &.#{nth($race, 1)} {
      h1:not(.orange) {
        background: url('/Disciples2/Rasi/general/#{nth($race, 2)}.gif') no-repeat;
      }
    }
  }
  .race-desc {
    p {
      text-indent: 1.5em;
      text-align: justify;
      margin-bottom: 15px;
    }
    img {
      &[align='left']{
        margin-right: 10px;
      }
      &[align='right']{
        margin-left: 10px;
      }
    }
  }
}

.unit-links {
  padding: 20px 220px;
  font-size: 12pt;
  font-family: 'Monotype Corsiva';
  font-weight: bold;
  text-align: center;
}

.d2-unit-stats {
  margin: 0 auto 30px;
  width: 500px;
  caption {
    font-family: 'Monotype Corsiva';
    font-size: 14pt;
    font-weight: bold;
  }
  td.portrait {
    width: 120px;
    img {
      border: 0;
    }
  }
  th {
    width: 160px;
    text-align: left;
    padding-left: 5px;
    &:after {
      content: ':';
    }
  }
  td.description {
    padding: 10px 3px;
    text-align: justify;
  }
}
