<aside class="left-sidebar">

    <!--NFM-->
    <a title="Открыть в браузере" href="/NFM.html" onclick="window.open('/NFM.html','upp','scrollbars=1,top=0,left=0,resizable=1,width=400,height=275');return false;"><img alt="Невендаар FM" src="/chatbtn/NFM_mini.png"></a>
    <!--/NFM-->

    <!--MENU-->
    <div id="site_menu" class="control_box" data-title="Меню сайта">
        <ul class="menu">
            <li><a href="/">Главная</a></li>
            <li><a href="/news">Новости</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/forum">Форум</a></li>
            <li><a href="/photo">Галерея</a></li>
            <li><a href="/load/6">Файлы</a></li>
            <li><a href="/blog">Фан-творчество</a></li>
        </ul>
        <ul class="menu">
            <li><a href="/load/7" class="dropdown-link">Карты и саги</a></li>
            <li class="slider">
                <ul class="submenu">
                    <li><a href="/load/4">Disciples I</a></li>
                    <li><a href="/load/2">Disciples II</a></li>
                    <li><a href="/load/5">Disciples III</a></li>
                    <li><a href="/load/8">DoM's MoD</a></li>
                </ul>
            </li>
        </ul>
        <hr>
        <ul class="menu">
            <li><a href="#" class="dropdown-link">Информация</a></li>
            <li class="slider">
                <ul class="submenu">
                    <li><a href="/index/0-50">История мира</a></li>
                    <li><a href="/publ/13">Интервью</a></li>
                    <li><a href="/publ/8">Статьи</a></li>
                    <li><a href="/dir/6">Ссылки</a></li>
                    <li><a href="/index/0-2">Информация о сайте</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu">
            <li><a href="#" class="dropdown-link">Disciples III</a></li>
            <li class="slider">
                <ul class="submenu">
                    <li><a href="/index/0-36">Об игре</a></li>
                    <li><a href="/index/0-37">Сюжет</a></li>
                    <li><a href="/index/0-38">Расы</a></li>
                    <li><a href="/index/0-39">Магия</a></li>
                    <li><a href="/index/0-40">Предметы</a></li>
                    <li><a href="/publ/20">Хитрости</a></li>
                    <li><a href="/publ/9">Cтатьи</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu">
            <li><a href="#" class="dropdown-link">Disciples II</a></li>
            <li class="slider">
                <ul class="submenu">
                    <li><a href="/index/0-43">Об игре</a></li>
                    <li><a href="/index/0-44">Сюжет</a></li>
                    <li><a href="/index/0-45">Расы</a></li>
                    <li><a href="/index/0-46">Магия</a></li>
                    <li><a href="/index/0-47">Предметы</a></li>
                    <li><a href="/publ/19">Хитрости</a></li>
                    <li><a href="/publ/10">Cтатьи</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu">
            <li><a href="#" class="dropdown-link">Disciples I</a></li>
            <li class="slider">
                <ul class="submenu">
                    <li><a href="/index/0-51">Об игре</a></li>
                    <li><a href="/index/0-58">Сюжет</a></li>
                    <li><a href="/index/0-53">Расы</a></li>
                    <li><a href="/index/0-54">Магия</a></li>
                    <li><a href="/index/0-55">Предметы</a></li>
                    <li><a href="/index/0-56">Хитрости</a></li>
                    <li><a href="/publ/11">Cтатьи</a></li>
                </ul>
            </li>
            <li><a href="/board">Доска объявлений</a></li>
            <li><a href="/tests">Тесты</a></li>
        </ul>
    </div>
    <script type="text/javascript">activate_menu("$MODULE_ID$", "$URI_ID$");</script>
    <!--/MENU-->

    <?if($SEARCH_FORM$)?>
        <div class="control_box" data-title="Поиск">$SEARCH_FORM$</div>
    <?endif?>

    <?if($CATEGORIES$ && $MODULE_ID$!="dir" && $MODULE_ID$!="faq")?>
        <div class="control_box" data-title="<?if($MODULE_ID$="photo")?>Альбомы<?else?>Категории<?endif?>">
            $CATEGORIES$
            <?if($URI_ID$='phMain')?><script type="text/javascript">$('#cid33').parent().hide();</script><?endif?>
            <?if($URI_ID$='phCat45'||$URI_ID$='phCat54'||$URI_ID$='phCat55'||$URI_ID$='phCat56'||$URI_ID$='phCat57')?>
                <script type="text/javascript">
                    $('#cid54').parent().before('<tr><td style="width:100%" class="catsTd" id="cid33" valign="top"><a href="/photo/33" class="catName">Анимации</a> <span class="catNumData" style="unicode-bidi:embed;">[250]</span></td></tr>');
                </script>
            <?endif?>
        </div>
    <?endif?>

    <!--NEWS-->
    <div class="control_box" data-title="Новое на сайте">
        <div id="nots">$MYINF_5$</div>
        <div id="comminf" style="display:none;">$MYINF_4$</div>
        <div align="center" style="padding:5px 0;">
            [ <a href="/dir/5" target="_self">Архив</a> ]
            [ <a id="lcomm" href="javascript://" rel="nofollow" onclick="$('#nots, #comminf').slideToggle('slow');if($('#lcomm').html()=='Комментарии'){$('#lcomm').html('Назад')}else{$('#lcomm').html('Комментарии')};return false;">Комментарии</a> ]
        </div>
    </div>
    <!--/NEWS-->

    <?if($LOGIN_FORM$)?>
        <div class="control_box" data-title="Форма входа">$LOGIN_FORM$</div>
    <?endif?>

    <?if($POLL$)?>
        <div class="control_box" data-title="Наш опрос">$POLL$</div>
    <?endif?>

    <!--FRIENDS-->
    <div class="control_box" data-title="Друзья сайта">
        <a title="Самая большая группа Disciples В Контакте!" href="http://vkontakte.ru/club713427" target="_blank"><img alt="Самая большая группа Disciples В Контакте!" src="/Reklama/VKbanner.jpg" alt=""></a>
        <br/>
        <a title="Almarein - город эльфов. Фентези коммьюнити" href="http://theelven.mybb.ru" target="_blank"><img alt="Almarein - город эльфов. Фентези коммьюнити" src="/Reklama/almarein.gif" border="0" title="Almarein - город эльфов. Фентези коммьюнити"></a>
        <a title="Disciples of Mortis. Сайт посвященый игровой нежити" href="http://hordesundead.clan.su" target="_blank"><img alt="Disciples of Mortis. Сайт посвященый игровой нежити" src="/Reklama/DOM.gif" border="0"></a>
        <br/>
        <a href="http://fantasy.d2.ru/?from=2908" target="_blank"><img height="31" alt="Palantir" src="/Reklama/counter2007_20.png" width="88" border="0"></a>
        <a href="http://www.mirf.ru" target="_blank"><img height="31" alt="Информационный Партнер" src="http://forum.mirf.ru/images/mf/logo.gif" width="88" border="0"></a>
        <br/>
        <a href="http://www.igromania.ru" target="_blank"><img height="31" alt="Информационный Партнер" src="http://www.rusrpg.com/ourbtn/mania88x31.gif" width="88" border="0"></a>
        <a href="http://www.lki.ru" target="_blank"><img height="31" alt="Сайт журнала Лучшие компьютерные игры. Лучшие компьютерные игры крупным планом: рецензии, описание, победные тактики и стратегии, рекомендации по прохождению игры. Новости и прогнозы по самым ожидаемым проектам. Советы мастеров: новые возможности знакомой игры, приемы киберспорта от лидеров мировых рейтингов, секреты и новые решения к лучшим играм всех времен. Авторские видеоролики по материалам номера. Фантастические рассказы, написанные специально для ЛКИ, аналитические статьи о настоящем и будущем компьютерных игр. Цикл статей о реальном оружии и его игровой судьбе. Все необходимое, чтобы самому создать полноценную игру. Рассказы о великих играх прошлого и их роли в сегодняшней игровой жизни. Авторский юмор. Клуб интеллектуальных компьютерных игр." src="http://www.lki.ru/img/logo_lki_88x31.gif" width="88" border="0"></a>
    </div>
    <!--/FRIENDS-->

    <?if($COUNTER$)?>
        <div class="control_box center" data-title="Статистика">$COUNTER$</div>
    <?endif?>

</aside>
