<header class="header">
    <a href="$HOME_PAGE_LINK$" class="logo" title="Всё о серии игр Disciples-I, II, III. Новости, скриншоты, карты и саги.">
        <img src="/site/logo.gif" alt="DISCIPLES">
    </a>
    <div class="topbar">
        <a class="icon home_icon" href="/" title="Главная"></a>
        <?if($USER_LOGGED_IN$)?>
            <a class="icon person_icon profile-link" href="/index/8-$USER_ID$" title="Мой профиль"></a>
            <a class="icon logout_icon" href="$LOGOUT_LINK$" title="Выход"></a>
        <?else?>
            <a class="icon reg_icon" href="$REGISTER_LINK$" title="Регистрация"></a>
            <a class="icon login_icon" href="$LOGIN_LINK$" title="Вход"></a>
        <?endif?>
    </div>
    <div class="infobar">
        <?if($USER_LOGGED_IN$)?>Вы вошли как <a href="/index/8-$USER_ID$" class="profile-link"><b>$USERNAME$</b></a>
        <?else?>Приветствуем Вас, <b>$USERNAME$</b>
        <?endif?> | <a href="$RSS_LINK$">RSS</a>
    </div>
</header>
<div class="silver_line"></div>
