<%# Old template %>
<div class="bordered">
    <%= c '$CHAT_BOX$' %>
    <%# TODO: refactor this shit! %>
    <% uif('$USER_LOGGED_IN$') { %>
        <% uif(code_is('$PAGE_ID$', :not, "'threadpage'")) { %>
            <script type="text/javascript">
                function emoticon(code,nm){
                    if (code != ""){
                        var txtarea=document.getElementById(nm);
                        code = ' ' + code + ' ';
                        if (document.selection) {
                            txtarea.focus();
                            var txtContent = txtarea.value;
                            var str = document.selection.createRange();
                            if (str.text == ""){
                                str.text = code;
                            }
                            else if (txtContent.indexOf(str.text) != -1){
                                str.text = code + str.text;
                            }
                            else {
                                txtarea.value = txtContent + code;
                            }
                        }
                        else{
                            txtarea.value = txtarea.value + code;
                        }
                    }
                }
            </script>
        <% }.endif! %>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_smile:<% }.else { %>)<% }.endif! %>','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_smile<% }.else { %>smile3<% }.endif! %>.gif" title=":)" />
        </a>
        <% uif(code_is('$USER_GENDER_ID$', 2)) { %>
            <a href="javascript://" rel="nofollow" onclick="emoticon(':flirt:','mchatMsgF');return false;">
                <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/flirt.gif" title="flirt" />
            </a>
        <% }.endif! %>
        <a href="javascript://" rel="nofollow" onclick="emoticon('<_<','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/4.gif" title="<_<" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon('<% uif(code_is('$USER_GENDER_ID$', 2)) { %>:girl_wink:<% }.else { %>;)<% }.endif! %>','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_wink<% }.else { %>2<% }.endif! %>.gif" title=";)" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':grin:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/grin.gif" title="grin" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':D','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/1.gif" title=":D" />
        </a>
        <% uif(code_is('$USER_GENDER_ID$', 2)) { %>
            <a href="javascript://" rel="nofollow" onclick="emoticon(':girl_haha:','mchatMsgF');return false;">
                <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/girl_haha.gif" title="girl_haha" />
            </a>
        <% }.endif! %>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_blum:<% }.else { %>p<% }.endif! %>','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_blum<% }.else { %>blum2<% }.endif! %>.gif" title=":p" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':blush:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/blush.gif" title="blush" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon('^_^','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/3.gif" title="^_^" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon('[img]http://www.kolobok.us/smiles/remake/spiteful.gif[/img]','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="http://www.kolobok.us/smiles/remake/spiteful.gif" title="spiteful" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':thinkin:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/smiley2/thinkin.gif" title="thinkin" />
        </a>
        <% uif(code_is('$USER_GENDER_ID$', 2)) { %>
            <a href="javascript://" rel="nofollow" onclick="emoticon(':girl_sad:','mchatMsgF');return false;">
                <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/girl_sad.gif" title="sad" />
            </a>
        <% }.endif! %>
        <a href="javascript://" rel="nofollow" onclick="emoticon('<% uif(code_is('$USER_GENDER_ID$', 2)) { %>:girl_mad:<% }.else { %>>(<% }.endif! %>','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_mad<% }.else { %>6<% }.endif! %>.gif" title=">(" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_<% }.endif! %>cray:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_<% }.endif! %>cray.gif" title="cray" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':scratch:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/scratch_one-s_head.gif" title="scratch" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':ok:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/ok.gif" title="ok" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':nea:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/nea.gif" title="nea" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':hi:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/hi.gif" title="hi" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':preved:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/preved.gif" title="preved" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':priest:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/priest.gif" title="priest" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_devil<% }.else { %>diablo<% }.endif! %>:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_devil<% }.else { %>diablo<% }.endif! %>.gif" title="<% uif(code_is('$USER_GENDER_ID$', 2)) { %>girl_devil<% }.else { %>diablo<% }.endif! %>" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':skull:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/skull.gif" title="skull" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':moderator:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/moderator.gif" title="moderator" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':dwarf:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/dwarf.gif" title="dwarf" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':elf:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/elf.gif" title="elf" />
        </a>
        <a href="javascript://" rel="nofollow" onclick="emoticon(':orc:','mchatMsgF');return false;">
            <img alt="" style="margin:0;padding:0;border:0;" src="/Smiley/orc.gif" title="orc" />
        </a>
    <% }.endif! %>
</div>
<script type="text/javascript">
    <% uif('$USER_AVATAR_URL$') { %>$('#mchatC1F').val('<%= c '$USER_AVATAR_URL$' %>');<% }.endif! %>
    $('#mchatIfm2').css('height','400');
</script>
