<div class="bordered">
    <div class="border-exp">
        <div id="mc-window"></div>
        <%= minichat_form %>
        <div id="mc-smiles" data-female="<% uif(female) { %>1<% }.else { %>0<% }.endif! %>"></div>
    </div>
</div>
<script type="text/javascript">
    $('#mchatC1F').val('<%= c '$USER_AVATAR_URL$' %>');
</script>
