<% layout 'templates_pda/layouts/main.html.erb' do %>
    <div id="mc-window"></div>
    <%= minichat_form %>
    <% uif('$USER_LOGGED_IN$') { %>
        <div id="mc-smiles" data-female="<% uif(female) { %>1<% }.else { %>0<% }.endif! %>"></div>
    <% }.endif! %>
    <script type="text/javascript">
        $('#changelink').attr('title', 'Форум').attr('href', '/forum/');
        $('#mchatC1F').val('<%= c '$USER_AVATAR_URL$' %>');
    </script>
<% end %>
