<% @params[:vk][:init] = true %>

<% layout do %>
    <% uif(group_is('$GROUP_ID$', :moderator, :admin, :master)) { %>
        <ol class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Доска объявлений (<b><%= c '$NUM_ENTRIES$' %></b>)</li>
        </ol>
        <% uif('$ADD_ENTRY_LINK$') { %>
            <div class="text-right">[ <a href="<%= c '$ADD_ENTRY_LINK$' %>">Добавить материал</a> ]</div>
        <% }.endif! %>
        <% uif('$CATEGORIES$') { %>
            <div class="hr top-hr"><%= c '$CATEGORIES$' %></div>
        <% }.endif! %>
        <%= c '$BODY$' %>
    <% }.else { %>
        <script>document.location.href = "/";</script>
    <% }.endif! %>
<% end %>
