<html lang="ru">
    <head>
        <meta charset="utf-8">
        <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
        <title>$SITE_NAME$ - $MODULE_NAME$</title>
        <!-- Ucoz files above -->
        <link href="/css/ajax_win.css" rel="stylesheet">
        <link href="/css/my.css" rel="stylesheet">
        <?if($GROUP_ID$="4" || $GROUP_ID$="3" || $GROUP_ID$="14")?><script src="/js/vk_api.min.js"></script><?endif?>
        <script src="/js/my.js"></script>
    <?'</he'?>ad>
    <body>
        <div class="wrapper">
            $GLOBAL_HEADER$
            <div class="middle">
                <div class="container">
                    <main class="content vk-init bordered">
                        <?if($GROUP_ID$="4" || $GROUP_ID$="3" || $GROUP_ID$="14")?>
                            <ol class="breadcrumb">
                                <li><a href="/">Главная</a></li>
                                <li class="active">Доска объявлений (<b>$NUM_ENTRIES$</b>)</li>
                            </ol>
                            <?if($ADD_ENTRY_LINK$)?>
                                <div class="text-right">[ <a href="$ADD_ENTRY_LINK$">Добавить материал</a> ]</div>
                            <?endif?>
                            <div class="VKborders"><div id="vk_comments" data-uid="90000000000"></div></div>
                            <?if($CATEGORIES$)?><hr>$CATEGORIES$<?endif?>
                            <hr>
                            $BODY$
                        <?else?>
                            <script>document.location.href = "/";</script>
                        <?endif?>
                    </main>
                </div>
                $GLOBAL_ASIDE$
            </div>
            $GLOBAL_FOOTER$
        </div>
    </body>
</html>
