.xw-tc {
    background: url("/ajax/top-bottom.png") repeat-x 0 0;
    padding-top: 10px;
}

.xw-tl {
    background: url("/ajax/left-corners.png") no-repeat 0 0;
    padding-left: 15px;
}

.xw-tr {
    background: url("/ajax/right-corners.png") no-repeat 100% 0;
    padding-right: 15px;
}

.xw-bc {
    background: url("/ajax/top-bottom.png") repeat-x 0 100%;
    padding-bottom: 15px;
}

.xw-bcm {
    background: url("/ajax/top-bottom.png") repeat-x 0 100%;
}

.xw-bl {
    background: url("/ajax/left-corners.png") no-repeat 0 100%;
    padding-left: 15px;
}

.xw-br {
    background: url("/ajax/right-corners.png") no-repeat 100% 100%;
    padding-right: 15px;
}

.xw-ml {
    background: url("/ajax/left-right1.png") repeat-y 0 0;
    padding-left: 15px;
}

.xw-mr {
    background: url("/ajax/left-right1.png") repeat-y 100% 0;
    padding-right: 15px;
}

.myWinCont, .myWinCont td, .myWinCont dl, .myWinCont dt {
    color: #f6c577;
}

.myWinCont a:link, .myWinCont a:visited {
    color: #ffba4b;
}

.myWinCont a:hover, .myWinCont a:active {
    color: #f6c577;
}

.myWinCont label {
    border-bottom: 1px dashed #8b8b8b;
}
