#allEntries > div[id^='comEnt'] {
    background-color: rgba(125, 125, 125, 0.4);
    border: 1px solid #4A4842;
    padding: 3px;
}

#allEntries > div[id^='comEnt'] > .body {
    padding: 2px 0;
}

#allEntries > div[id^='comEnt'] > .body > .avatar {
    margin: 1px 4px;
}

#allEntries > div[id^='comEnt'] > .body > .msg {
    margin: 0 5px;
}

#allEntries > div[id^='comEnt'] > .body > .answer {
    margin: 5px;
}

#allEntries > div[id^='comEnt'] > .body > .answer:before {
    content: "Ответ: ";
    font-weight: bold;
}

#allEntries > div[id^='comEnt'] > .body > .reply {
    font-size: 7pt;
    margin: 5px;
    font-weight: bold;
}

/* Comment form */

#acform {
    background-color: rgba(125, 125, 125, 0.400);
    border: 1px solid #4A4842;
    padding: 6px;
    margin-top: 15px !important;
}

#acform #message {
    min-height: 120px;
    float: left;
    width: 89%;
    resize: vertical;
    background: url("/img/bkform.gif") #535048;
    border: 1px solid #4A4842;
    color: #FFFFFF;
}

#acform .smiles {
    float: right;
    width: 10%;
    display: block;
    min-width: 75px;
}

#acform label {
    display: inline-block;
    min-width: 75px;
    text-align: right;
    margin-right: 5px;
    float: left;
}
