.mc_post {
}

.mc_post > .avatar {
    float: left;
    width: 25px;
}

.mc_post > .avatar > img {
    vertical-align: -2px;
    max-height: 25px;
}

.mc_post > .top > .mc_username {
    font-weight: bold;
}

.mc_post > .msg {
    margin-left: 25px;
}
