.codeButtons {
    font-size: 7pt;
}

.smiles { 
    background: #746F66;
    border: 1px solid #4A4842;
}

/* Text
-----------------------------------------------------------------------------*/
.bold {
    font-weight: bold;
}
.small {
    font-size: 7pt;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.breadcrumb {
    padding: 0 5px 10px;
    margin-bottom: 20px;
    list-style: none;
    /*background-color: #f5f5f5;*/
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    padding: 0 2px;
    content: "»\00a0";
}

.breadcrumb > .active {
    color: #F6C577;
}

.material {

}

.material > .title {
    vertical-align: middle;
}

.material > .title > h1,
.material > .title > h2,
.material > .title > h3,
.material > .title > h4 {
    display: inline-block;
}

.material > .body {
    padding: 0 5px 3px;
}

.material > .title > .time {
    height: 100%;
}

.material > .body > .details {
    margin: 10px 0px;
    list-style: none;
}

.material > .body > .details > li {
    display: inline-block;
}

.material > .body > .details > li + li:before {
    padding: 0px 2px;
    content: "|\00a0";
}

.uRelatedEntries {
    padding-left: 15px;
    list-style: none;
}

.uRelatedEntries:before {
    content: "Также смотрите:";
    margin-left: -10px;
}

.comment_box {
    margin: 10px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.time {
    font: 7pt;
}

.form-group { 
    margin-bottom: 15px;
}

.sq_brackets:before {
    content: "[";
}

.sq_brackets:after {
    content: "]";
}

label.required:after,
input:required + label:after,
select:required + label:after,
textarea:required + label:after {
    content: "*";
    color: red;
    margin-left: 3px;
}

/* User profile */

.user_avatar {
    margin: 15px 15px 15px 0px;
    display: inline-block;
}
