<div class="clearfix">
    <b>$NUMBER$</b>.
    <b>$NAME$</b>
    <?if($USERNAME$)?>(<a href="/index/8-0-$USERNAME$" class="profile-link">$USERNAME$</a>)<?endif?>
    <?if($USER_LOGGED_IN$ && $EMAIL$)?><a href="$EMAIL_JS$" title="Email"><img src="/site/e.gif" alt="email"></a><?endif?>
    <?if($SITE$)?><a rel="nofollow" href="$SITE$" target="_blank" title="Site"><img src="/site/h.gif" alt="site"></a><?endif?>
    <?if($ENTRY_URL$)?>
        [<a href="<?if(substr($MESSAGE$,0,6)='&DICE&')?>/forum/24-693-1<?else?>$ENTRY_URL$<?endif?>" target="_blank">Материал</a>]
    <?endif?>
    <div class="time pull-right">
        $DATE$ $TIME$
        <?if(substr($MESSAGE$,0,6)!='&DICE&')?>$MODER_PANEL$<?endif?>
    </div>
</div>
<div class="body clearfix">
    <?if($USER_AVATAR_URL$)?>
        <a href="/index/8-0-$USERNAME$" title="$USERNAME$" class="avatar profile-link pull-left"><img src="$USER_AVATAR_URL$" width="30"></a>
    <?endif?>
    <?if(substr($MESSAGE$,0,6)='&DICE&' && len($MESSAGE$)>=9)?>
        <?if($ENTRY_URL$)?>
            *бросает кость...*
        <?else?>
            <p><?substr($MESSAGE$,9)?></p>
            Результат (<b><?substr($MESSAGE$,6,1)?></b> ступень)
            <?if(substr($MESSAGE$,7,1))?>("Расчетливый бой")<?endif?>
            <?if(substr($MESSAGE$,8,1))?>("Уворот")<?endif?>
            :
            <div class="dice dice<?(($TIMESTAMP$/$NUMBER$)^101)%6?>">
                <div class="res<?(($TIMESTAMP$/$NUMBER$)^101)%6?><?substr($MESSAGE$,6,3)?>"></div>
            </div>
        <?endif?>
    <?else?>
        <p class="msg">$MESSAGE$</p>
        <?if($ANSWER$ && substr($MESSAGE$,0,6)!='&DICE&')?>
            <div class="answer pull-left">$ANSWER$</div>
        <?endif?>
        <?if($ANSWER_URL$ && substr($MESSAGE$,0,6)!='&DICE&')?>
            <div class="reply pull-right"><a href="$ANSWER_URL$">Ответить</a></div>
        <?endif?>
    <?endif?>
</div>
