<div class="form-group clearfix">
    <div class="bbcodes">$BBCODES$</div>
    <textarea id="message" name="message">$MESSAGE$</textarea>
    $SMILES$
</div>
<?if(!$USER_LOGGED_IN$)?>
    <div class="form-group">
        <input type="text" name="name" value="$NAME$" maxlength="30" required>
        <label for="name">Имя</label>
    </div>
    <div class="form-group">
        <input type="email" name="email" value="$NAME$" maxlength="60">
        <label for="email">Email</label>
    </div>
<?endif?>
<?if($SUBSCRIBE$)?>
    <div class="form-group">
        $SUBSCRIBE$
        <label for="subs">Подписка</label>
    </div>
<?endif?>
<?if($SECURITY_CODE$)?>
    <div class="form-group">
        $SECURITY_CODE$
        <label for="code" class="required">Код</label>
    </div>
<?endif?>
<div class="text-center">
    <input type="submit" name="submit" value="- Добавить комментарий -">
</div>
