<select id="mchatRSel" onchange="setT7174(this);" class="mchat" size="1" title="Автообновление" style="font-size:7pt;">
    <option value="0">--</option>
    <option value="15">15 сек</option>
    <option value="30">30 сек</option>
    <option value="60">1 мин</option>
    <option value="120">2 мин</option>
</select>
