<div style="width:30px">
    <input type="submit" value="OK" class="mchat" id="mchatBtn" style="width:30px;">
    <img alt="" style="display:none;" id="mchatAjax" src="http://s6.ucoz.net/img/fr/ajax3.gif" border="0" width="16"/>
</div>
