<% @params[:title] = 'Доступ запрещен - ' << c('$SITE_NAME$') %>
<% layout do %>
    <div class="text-center">
        <br><br><br>
        <% uif('$USER_LOGGED_IN$') { %>
            Вы входите в группу пользователей, которым запрещено совершать данное действие.<br><br><br>
            По всем вопросам обращайтесь к администратору сайта.
        <% }.else { %>
            Гостям запрещено просматривать данную страницу, пожалуйста войдите на сайт как пользователь.<br><br><br>
            <div style="width:200px"><%= c '$LOGIN_FORM$' %></div>
        <% }.endif! %>
        <br><br><br><br>
    </div>
<% end %>
