<% @params[:title] = 'Доступ запрещен - $SITE_NAME$' %>
<% layout do %>
    <div class="text-center">
        <?if($USER_LOGGED_IN$)?>
            <br><br><br>Вы входите в группу пользователей, которым запрещено совершать данное действие.<br><br><br>
            По всем вопросам обращайтесь к администратору сайта.<br><br><br><br>
        <?endif?>
        <?if($LOGIN_FORM$)?>
            <br><br><br>Гостям запрещено просматривать данную страницу, пожалуйста войдите на сайт как пользователь.<br><br><br>
            <div style="width:200px">$LOGIN_FORM$</div><br><br><br><br>
        <?endif?>
    </div>
<% end %>
