<% entry_type = @locals[:entry_type].to_s.upcase %>
<% uif("$_#{entry_type}_ENTRIES$") { %>
    |
    <a href="<%= c "$_#{entry_type}_ACTIVITY_URL$" %>" target="_blank">
        <%= @locals[:entry_name] %> (<b><%= c "$_#{entry_type}_ENTRIES$" %></b>)
    </a>
<% }.endif! %>
