<% @params[:title] = 'Комментарии пользователя [$USER$] - $SITE_NAME$' %>

<% layout do %>
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Комментарии пользователя [$USER$]</li>
    </ol>
    <div class="clearfix hr">
        Найдено комментариев: <b>$NUM_ENTRIES$</b>
        <?if($NUM_SHOWN$)?><br>Показано комментариев: <b>$NUM_SHOWN$</b><?endif?>
        <?if($PAGE_SELECTOR$)?>
            <div class="pull-right">Страницы: $PAGE_SELECTOR$</div>
        <?endif?>
    </div>
    $BODY$
    <?if($PAGE_SELECTOR1$)?><div class="text-center">$PAGE_SELECTOR1$</div><?endif?>
<% end %>
