<% @params[:title] = 'Изменение личной информации' %>

<% layout do %>
    <?substr($ADMIN_BAR$, 0, 0)?>
    <div class="text-center">
        <h2>Изменение личной информации</h2>
        <hr>
    </div>
    $BODY$
<% end %>
