<html lang="ru">
    <head>
        <meta charset="utf-8">
        <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
        <title>Изменение личной информации</title>
        $GLOBAL_AJAXJS$
        <link href="/css/ajax_win.css" rel="stylesheet">
        <link href="/css/my.css" rel="stylesheet">
        <link href="/css/ranks.css" rel="stylesheet">
        <script src="/js/my.js"></script>
    </head>
    <body>
        <main class="bordered">
            <?substr($ADMIN_BAR$, 0, 0)?>
            <div class="text-center">
                <h2>Изменение личной информации</h2>
                <hr>
            </div>
            $BODY$
        </main>
    </body>
</html>
