<% @params[:title] = 'Изменение личной информации' %>

<% layout :bordered do %>
    <% remove_admin_bar! %>
    <div class="text-center hr">
        <h2>Изменение личной информации</h2>
    </div>
    <%= c '$BODY$' %>
<% end %>
