<html lang="ru">
    <head>
        <meta charset="utf-8">
        <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
        <title>Список пользователей</title>
        <!-- Ucoz files above -->
        <link href="/css/ranks.css" rel="stylesheet">
        <link href="/css/my.css" rel="stylesheet">
        <script src="/js/my.js"></script>
    <?'</he'?>ad>
    <body>
        <main class="bordered">
            <?substr($ADMIN_BAR$, 0, 0)?>
            <div class="text-center hr"><b>Список пользователей</b></div>
            <div class="clearfix hr">
                Найдено <b>$NUM_ENTRIES$</b> пользователей
                <div class="pull-right">Страницы: $PAGE_SELECTOR$</div>
            </div>
            $BODY$
            <div class="text-center top-hr">$SEARCH_FORM$</div>
            <script>set_userlist_msn();</script>
        </main>
    </body>
</html>
