<% @params[:title] = 'Список пользователей' %>

<% layout :bordered do %>
    <% remove_admin_bar! %>
    <div class="text-center hr"><b>Список пользователей</b></div>
    <div class="clearfix hr">
        Найдено <b><%= c '$NUM_ENTRIES$' %></b> пользователей
        <div class="pull-right">Страницы: <%= c '$PAGE_SELECTOR$' %></div>
    </div>
    <%= c '$BODY$' %>
    <div class="text-center top-hr"><%= c '$SEARCH_FORM$' %></div>
    <script>set_userlist_msn();</script>
<% end %>
