<% @params[:title] = "#{c '$SITE_NAME$'} - Страница регистрации" %>

<% layout do %>
    <%= c '$BODY$' %>
    <div style="font-size: 7pt;">
        Поставив галочку "Подтверждаю условия использования uNet сообщества"
        вы также подтверждаете своё согласие с <a href="/forum/0-0-0-36">правилами данного ресурса</a>.
    </div>
<% end %>
