<% @params[:title] = 'Информация о пользователе' %>

<% layout :bordered do %>
    <% remove_admin_bar! %>
    <div class="text-center hr">
        <h2>Информация о пользователе</h2>
    </div>
    <div align="left">
        <div class="pull-right text-center">
            <?if($_MSN$)?>
                <span class="fraction-flag fflag$_MSN$"></span>
            <?endif?>
            $_AVATAR$
            <?if($MODER_PANEL$ && $UNET_ID$)?>
                <div>
                    <a class="uid-link" href="$UNET_PROFILE_URL$" target="_blank">
                        <img src="http://src.ucoz.net/img/ma/uid.gif" alt="uid">
                    </a>
                </div>
            <?endif?>
            <?if($_CHANGE_DETAILS_URL$)?><div>[ <a href="$_CHANGE_DETAILS_URL$">Изменить данные</a> ]</div><?endif?>
            <?if($_PM_READ_URL$)?>
                <div>[ <a href="$_PM_READ_URL$">Читать ЛС <?if($UNREAD_PM$)?>(<b>$UNREAD_PM$</b>)<?endif?></a> ]</div>
            <?else?>
                <?if($_PM_SEND_URL$)?>
                    <div>[ <a href="$_PM_SEND_URL$">Отправить ЛС</a> ]</div>
                <?endif?>
            <?endif?>
        </div>
        <div class="profile-line">
            <span class="profile-label">Пользователь</span>
            <a href="$_PROFILE_URL$" title="Адрес профиля данного пользователя" class="prompt-link"><b>$_USERNAME$</b></a>
            <?if($MODER_PANEL$)?>[id: <b>$_USER_ID$</b>]<?endif?>
            <?if($_RANK_NAME$)?>
                <span title="Ранг: $_RANK$">$_RANK_ICON$</span>
                [ <span class="rank-$_RANK$-$_MSN$ <% uif(female '$_GENDER_ID$') { %>rank-$_RANK$-$_MSN$-f<% }.endif! %>"></span> ]
            <?endif?>
        </div>
        <?if($_BANNED_TILL$)?>
            <div class="profile-line">
                <span class="profile-label"></span>
                <?if($_BANNED_TILL$="1")?>
                    <b style="color:red;">Активность заблокирована навсегда!</b>
                <?else?>
                    Активность заблокирована до <u style="color:red;">$_BANNED_TILL$</u>
                <?endif?>
            </div>
        <?endif?>
        <div class="profile-line">
            <span class="profile-label">Группа</span>
            <?if($MODER_PANEL$)?>
                $MODER_PANEL$
            <?else?>
                $_GROUP_NAME$ <?if($_GROUP_ICON$)?>$_GROUP_ICON$<?endif?>
            <?endif?>
        </div>
        <?if(0)?>
            <div class="profile-line">
                <span class="profile-label">Инвентарь</span>
                <?if($AWARDS$='0')?>
                    нет
                <?else?>
                    <a id="see_user_awards" href="#" title="Награды">Открыть список</a>
                <?endif?>
                <?if(<%= group_is('$GROUP_ID$', :moderator, :admin, :master) %>)?>
                    <?if($AWARDS_DO_URL$)?>
                        <span class="small">[ <a href="$AWARDS_DO_URL$">Вручить награду</a> ]</span>
                    <?endif?>
                <?endif?>
            </div>
        <?endif?>
        <div class="profile-line">
            <span class="profile-label">Замечания</span>
            <?if(<%= group_is('$_GROUP_ID$', :master) %>)?>
                IMMUNE
            <?else?>
                <?if($_BAN_READ_URL$)?>
                    <a class="banPercent" title="Смотреть историю замечаний" href="$_BAN_READ_URL$">$_BAN_PERCENT$%</a>
                <?else?>
                    нет
                <?endif?>
                <?if($_BAN_DO_URL$)?>
                    <a href="$_BAN_DO_URL$" title="Изменить уровень замечаний">
                        <img src="http://src.ucoz.ru/img/fr/wm.gif">
                        <img src="http://src.ucoz.ru/img/fr/w$_BAN_RATING$.gif">
                        <img src="http://src.ucoz.ru/img/fr/wp.gif">
                    </a>
                <?endif?>
            <?endif?>
        </div>
        <?if($_MSN$)?>
            <div class="profile-line">
                <span class="profile-label">Фракция</span>
                <span class="fraction-name$_MSN$"></span>
            </div>
        <?endif?>
        <?if($_REP_READ_URL$ && $_USER_ID$!='1249')?>
            <div class="profile-line">
                <span class="profile-label">Репутация</span>
                <a title="Смотреть историю репутации" class="repHistory" href="$_REP_READ_URL$"><b>$_REPUTATION$</b></a>
                <?if($_REP_DO_URL$)?>
                    <a href="$_REP_DO_URL$" title="Изменить репутацию">
                        <img src="http://src.ucoz.ru/img/fr/wm.gif">
                        <img src="http://src.ucoz.ru/img/fr/wp.gif">
                    </a>
                <?endif?>
            </div>
        <?endif?>
        <?if($_NAME$)?>
            <div class="profile-line">
                <span class="profile-label">Имя</span>
                $_NAME$ <?if($_GENDER_NAME$)?>[ $_GENDER_NAME$ ]<?endif?>
            </div>
        <?endif?>
        <?if($_STATUS$)?>
            <div class="profile-line">
                <span class="profile-label">Статус</span>
                $_STATUS$
            </div>
        <?endif?>
        <?if($MODER_PANEL$)?>
            <div class="profile-line">
                <span class="profile-label">Регистрационный IP</span>
                <a href="http://www.ripe.net/perl/whois?$_IP_ADDRESS$" target="_blank">$_IP_ADDRESS$</a>
            </div>
        <?endif?>
        <?if($_REG_TIME$)?>
            <div class="profile-line">
                <span class="profile-label">Дата регистрации</span>
                $_REG_TIME$
            </div>
        <?endif?>
        <?if($_LOG_TIME$)?>
            <div class="profile-line">
                <span class="profile-label">Дата входа</span>
                $_LOG_TIME$
            </div>
        <?endif?>
        <?if($_BIRTHDAY$)?>
            <div class="profile-line">
                <span class="profile-label">Дата рождения</span>
                $_BIRTHDAY$ [ <b>$_AGE$</b> $_ZODIAC$ ]
            </div>
        <?endif?>

        <div class="profile-line">
            <span class="profile-label">E-mail</span>
            <?if($_IS_OWN_PROFILE$)?>
                $_EMAIL$ <?if($_EMAIL_IS_HIDDEN$)?>(Адрес скрыт)<?endif?>
            <?else?>
                <?if($MODER_PANEL$)?>
                    <a href="mailto:$_EMAIL$">$_EMAIL$</a>
                    <?if(!$_EMAIL_IS_VERIFIED$)?>
                        <img alt="" style="vertical-align:1px;" src="http://s6.ucoz.net/img/ma/bn.gif" width="8" title="E-mail адрес не подтвержден">
                    <?endif?>
                <?else?>
                    <?if($_SEND_EMAIL_URL$)?>
                        <a href="$_SEND_EMAIL_URL$">Написать письмо пользователю</a>
                    <?else?>
                        <i>Адрес скрыт</i>
                    <?endif?>
                <?endif?>
            <?endif?>
            <?if($_EMAIL_VERIFICATION_URL$)?>
                [ <a href="$_EMAIL_VERIFICATION_URL$"><b style="color:red">Подтвердить e-mail</b></a> ]
            <?endif?>
        </div>

        <?if($_WWW$)?>
            <div class="profile-line">
                <span class="profile-label">Сайт</span>
                <a href="$_WWW$" title="Веб-сайт" class="prompt-link" target="_blank" rel="nofollow">$_WWW$</a>
            </div>
        <?endif?>

        <?if($_ICQ$)?>
            <div class="profile-line">
                <span class="profile-label">ICQ</span>
                $_ICQ$
            </div>
        <?endif?>

        <?if($_AOL$)?>
            <div class="profile-line">
                <span class="profile-label">AOL</span>
                $_AOL$
            </div>
        <?endif?>

        <?if($_YAHOO$)?>
            <div class="profile-line">
                <span class="profile-label">Yahoo</span>
                $_YAHOO$
            </div>
        <?endif?>

        <?if($_COUNTRY$)?>
            <div class="profile-line">
                <span class="profile-label">Страна</span>
                $_COUNTRY$
            </div>
        <?endif?>

        <?if($_STATE$)?>
            <div class="profile-line">
                <span class="profile-label">Штат</span>
                $_STATE$
            </div>
        <?endif?>

        <?if($_CITY$)?>
            <div class="profile-line">
                <span class="profile-label">Город</span>
                $_CITY$
            </div>
        <?endif?>

        <?if($_SIGNATURE$)?>
            <div class="profile-line">
                <span class="profile-label">Подпись</span>
                $_SIGNATURE$
            </div>
        <?endif?>

        <?if($_IS_ACTIVITY$)?>
            <div class="text-center top-hr">
                <?if($_COM_ENTRIES$)?> | <a href="$_COM_ACTIVITY_URL$" target="_blank">комментарии (<b>$_COM_ENTRIES$</b>)</a><?endif?>
                <?if($_FORUM_ENTRIES$)?> | <a href="$_FORUM_ACTIVITY_URL$" target="_blank">форум (<b>$_FORUM_ENTRIES$</b>)</a><?endif?>
                <?if($_BLOG_ENTRIES$)?> | <a href="$_BLOG_ACTIVITY_URL$" target="_blank">фан-творчество (<b>$_BLOG_ENTRIES$</b>)</a><?endif?>
                <?if($_NEWS_ENTRIES$)?> | <a href="$_NEWS_ACTIVITY_URL$" target="_blank">новости (<b>$_NEWS_ENTRIES$</b>)</a><?endif?>
                <?if($_PUBL_ENTRIES$)?> | <a href="$_PUBL_ACTIVITY_URL$" target="_blank">статьи (<b>$_PUBL_ENTRIES$</b>)</a><?endif?>
                <?if($_LOAD_ENTRIES$)?> | <a href="$_LOAD_ACTIVITY_URL$" target="_blank">файлы (<b>$_LOAD_ENTRIES$</b>)</a><?endif?>
                <?if($_DIR_ENTRIES$ && 0)?> | <a href="$_DIR_ACTIVITY_URL$" target="_blank">сайты (<b>$_DIR_ENTRIES$</b>)</a><?endif?>
                <?if($_BOARD_ENTRIES$)?> | <a href="$_BOARD_ACTIVITY_URL$" target="_blank">объявления (<b>$_BOARD_ENTRIES$</b>)</a><?endif?>
                <?if($_PHOTO_ENTRIES$)?> | <a href="$_PHOTO_ACTIVITY_URL$" target="_blank">изображения (<b>$_PHOTO_ENTRIES$</b>)</a><?endif?> |
            </div>
        <?endif?>

        <?if($USERS_LIST_URL$)?>
            <div class="text-center top-hr">
                <form method="post" action="/index" name="fuser" style="margin:0px">
                    <input type="button" class="allUsersBtn" style="width:150px;" onclick="window.location.href='/index/15-1'" value="Список пользователей">&nbsp;
                    <input type="text" class="uSearchFl" name="user" style="width:240px;text-align:center;" size="20" value="Логин пользователя" onclick="if (this.value=='Логин пользователя'){this.value='';}" maxlength="25">
                    <input type="submit" class="uSearchFlSbm" style="width:150px;" value="Найти пользователей">
                    <input type="hidden" name="a" value="15" />
                </form>
            </div>
        <?endif?>
    </div>
<% end %>
