<a class="swchItem" href="javascript://" rel="nofollow" onclick="switchpage(1);return false;"><span>&laquo;</span></a>
<a class="swchItem" href="javascript://" rel="nofollow" onclick="switchpage(1);return false;"><span>1</span></a>
<b class="swchItemA"><span>2</span></b>
<a class="swchItem" href="javascript://" rel="nofollow" onclick="switchpage(3);return false;"><span>3</span></a>
<a class="swchItem" href="javascript://" rel="nofollow" onclick="switchpage(4);return false;"><span>4</span></a>
<span class="swchItemDots"><span>...</span></span>
<a class="swchItem" href="javascript://" rel="nofollow" onclick="switchpage(320);return false;"><span>320</span></a>
<a class="swchItem" href="javascript://" rel="nofollow" onclick="switchpage(321);return false;"><span>321</span></a>
<a class="swchItem" href="javascript://" rel="nofollow" onclick="switchpage(3);return false;"><span>&raquo;</span></a>
