<% @params[:title] = 'Изменение личной информации' %>

<% layout 'templates_pda/layouts/main.html.erb' do %>
    <div class="row">
        <div class="col-md-12">
            <h2>Изменение личной информации</h2>
            <%= c '$BODY$' %>
        </div>
    </div>
<% end %>
