<% @params[:title] = 'Список пользователей' %>

<% layout 'templates_pda/layouts/main.html.erb' do %>
    <div class="row">
        <div class="col-md-12">
            <h2>Список пользователей</h2>
            <div id="search_users_list" class="clearfix">
                Найдено <b><%= c '$NUM_ENTRIES$' %></b> пользователей
                <div class="pull-right">Страницы: <%= c '$PAGE_SELECTOR$' %></div>
            </div>
            <%= c '$BODY$' %>
            <div id="search_users_form" class="text-center">
                <%= c '$SEARCH_FORM$' %>
            </div>
        </div>
    </div>
<% end %>
