<% @params[:title] = "Регистрация - #{c '$SITE_NAME$'}" %>

<% layout 'templates_pda/layouts/main.html.erb' do %>
    <div class="row">
        <div class="col-md-12">
            <%= c '$BODY$' %>
        </div>
    </div>
<% end %>
