@import "bootstrap/my_variables";

$topic-border-radius: 4px;

.threadNametd {
  padding: 2px 0;
  > div {
    border: 1px solid;
    border-radius: $topic-border-radius;
    position: relative;
    font-size: 0;
    line-height: 20px;
  }
  .forum {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11px 5px;
    height: 100%;
    width: 100%;
    font-size: $font-size-base;
    overflow: hidden;
    white-space: pre;

  }
  .forumStat, .forumLastUpdateAuthor {
    display: none;
  }
}

.forumLastUpdateLink {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: $font-size-large;
  padding: 8px 11px;
  background-color: $body-bg;
  border-top-right-radius: $topic-border-radius;
  border-bottom-right-radius: $topic-border-radius;
}

.frm-msg-body {
  img {
    @include img-responsive(inline-block);
  }
}

form[name='searchform'] {
  select {
    @extend .form-control;
    margin-bottom: 4px;
  }

  br {
    display: none;
  }

  .searchQueryFl {
    @extend .form-control;
    margin-bottom: 5px;
  }

  .searchSubmitFl {
    @extend .btn;
    @extend .btn-default;
  }

  .searchForumsFl {
    height: auto;
  }

  .gTable {
    > tbody {
      > tr {
        > td {
          width: 100% !important;
          height: auto !important;
          float: left;
        }
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          > td:nth-child(2) > b {
            // hide "Где искать"
            display: none;
          }
        }
        &:nth-child(3) {
          > td:nth-child(2) {
            &:before {
              display: block;
              content: "Где искать";
              font-weight: bold;
              margin-left: -5px;
            }
          }
        }
      }
    }
  }

//  select[name^='o'] {
//    @extend .form-control;
//  }
}

.forum_recentthreads {
  > {
    table:not(.gTable) {
      @include clearfix;
      > tbody > tr > td {
        width: 100% !important;
        float: left;

      }
    }
  }
  .fFastNavTd, .fFastSearchTd {
    > input {
      &[type=submit], &[type=button] {
        @extend .btn;
        @extend .btn-default;
      }
    }
  }
  .fFastNavTd > select.fastNav,
  .fFastSearchTd > input.fastSearch[name=kw] {
    @extend .form-control;
    display: inline-block;
  }
}

.forum_threadpage {
  > {
    table {
      @include clearfix;
      > tbody > tr > td {
        width: 100% !important;
        float: left;
      }
    }
  }
}

#frmButns83 {
  margin-top: 5px;
  > a {
    @extend .btn;
    @extend .btn-default;
  }
}

.postTextFl {
  @extend .form-control;
}

#frM60 > input {
  @extend .btn;
  @extend .btn-default;
}

// Clear button for topic reply form
#frF17 {
  display: none;
}

#thread_search_button {
  @extend .btn;
  @extend .btn-default;
  float: right;
  width: 15%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#thread_search_field {
  @extend .form-control;
  width: 85%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
